<ion-content>
    <div class="contactPageContainer">
        <ion-text>
            <h1>
                Contact us
            </h1>
            <p>
                We are happy to get any help form indifferent people who share our mission
            </p>
            <p>
                ukrainereborn.ch@gmail.com
            </p>
            <p>
                Tel : + 41 79 947 07 59
            </p>
            <p>
                Tel : + 41 76 247 19 85
            </p>
        </ion-text>

        <ion-button fill="clear" href="https://www.facebook.com/ukraine.reborn.ch">
            <ion-icon name="logo-facebook" size="large"></ion-icon>
        </ion-button>
        <ion-button fill="clear" href="https://t.me/ukraine_reborn">
            <ion-icon src="https://upload.wikimedia.org/wikipedia/commons/8/82/Telegram_logo.svg" size="large"></ion-icon>
        </ion-button>
    </div>
</ion-content>