<ion-content>
    <ion-list lines="none">
        <ion-list-header>
            <ion-label>Users</ion-label>
        </ion-list-header>

        <ion-item *ngFor="let usr of usersListObs|async;">

            <ion-accordion-group>
                <ion-accordion [value]="usr.l_name">
                    <ion-item slot="header" color="light">
                      <ion-label>{{usr.l_name}} {{usr.f_name}}</ion-label>
                    </ion-item>
                    <div class="ion-padding" slot="content">
                        <p>email : {{usr.email}}</p>
                        <p *ngIf="usr.phone">Phone : {{usr.phone}}</p>
                        <p *ngIf="usr.birthday">Birthday : {{usr.birthday}}</p>
                        <p *ngIf="usr.s_permit_id">S permit ID : {{usr.s_permit_id}}</p>
                        <p *ngIf="usr.address">Address : {{usr.address}}</p>
                        <p *ngIf="usr.subscribeDate">Subscribe date : {{usr.subscribeDate}}</p>
                        <ion-text *ngIf="usr.ban" color="danger">
                        <p> Banned on : {{usr.ban.date}} by {{usr.ban.author.l_name}} {{usr.ban.author.f_name}}<br>
                        Reason : {{usr.ban.comment}}</p>
                        </ion-text>
                        <ion-button *ngIf="usr.ban == undefined; else unban" (click)="banUser(usr.id)">Ban</ion-button>
                        <ng-template #unban>
                            <ion-button (click)="unbanUser(usr.id)">Unban</ion-button>
                        </ng-template>
                    </div>
                </ion-accordion>
            </ion-accordion-group>
        </ion-item>
        
    </ion-list>

    <ion-list>
        <ion-list-header>
            <ion-label>Courses</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let course of coursesObs|async;">
            <ion-label>{{course|json}}</ion-label>
        </ion-item>
    </ion-list>

    <ion-button (click)="addPartner()">
        Add partner
    </ion-button>

</ion-content>