<ion-content>
<div class="adminContent">

    <h1>Manage</h1>

    <ion-button (click)="addPartner()">
        Partners
    </ion-button>
    <ion-button>
        Photos gallery
    </ion-button>
    <ion-button>
        Association members
    </ion-button>
    <ion-button>
        Projects
    </ion-button>
    <ion-button>
        Articles
    </ion-button>

    <ion-searchbar placeholder="Search" [(ngModel)]="searchString" (ionChange)="updateValue()"></ion-searchbar>
    <!-- <ion-searchbar placeholder="Search" [(ngModel)]="searchString"></ion-searchbar> -->

    <h1>Users</h1>
    
    <ion-item lines="none">
        <ion-select interface="action-sheet" (ionChange)="filterUsersList($event)" value="all">
            <ion-select-option value="all">All</ion-select-option>
            <ion-select-option value="students">Students</ion-select-option>
            <ion-select-option value="teachers">Teachers</ion-select-option>
            <ion-select-option value="admins">Admins</ion-select-option>
            <ion-select-option value="requests">Teachers requests</ion-select-option>
            <ion-select-option value="bans">Banned</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-list lines="none">

        <ion-item *ngFor="let usr of usersListObs|async;">
            <ion-accordion-group>
                <ion-accordion [value]="usr.l_name">
                    <ion-item slot="header" color="light">
                      <ion-label>{{usr.l_name}} {{usr.f_name}}</ion-label>
                    </ion-item>
                    <div class="ion-padding" slot="content">
                        <p>email : {{usr.email}}</p>
                        <p *ngIf="usr.phone">Phone : {{usr.phone}}</p>
                        <p *ngIf="usr.birthday">Birthday : {{usr.birthday}}</p>
                        <p *ngIf="usr.s_permit_id">S permit ID : {{usr.s_permit_id}}</p>
                        <p *ngIf="usr.address">Address : {{usr.address}}</p>
                        <p *ngIf="usr.subscribeDate">Subscribe date : {{usr.subscribeDate}}</p>
                        <ion-text *ngIf="usr.ban" color="danger">
                        <p> Banned on : {{usr.ban.date}} by {{usr.ban.author.l_name}} {{usr.ban.author.f_name}}<br>
                        Reason : {{usr.ban.comment}}</p>
                        </ion-text>
                        <ion-button *ngIf="usr.ban == undefined; else unban" (click)="banUser(usr.id)">Ban</ion-button>
                        <ng-template #unban>
                            <ion-button (click)="unbanUser(usr.id)">Unban</ion-button>
                        </ng-template>
                    </div>
                </ion-accordion>
            </ion-accordion-group>
        </ion-item>
        
    </ion-list>

    <h1>Courses</h1>

    <ion-item lines="none">
        <ion-select interface="action-sheet" (ionChange)="filterCoursesList($event)" value="all">
            <ion-select-option value="all">All</ion-select-option>
            <ion-select-option value="future">Courses to come</ion-select-option>
            <ion-select-option value="past">Past courses</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-list lines="none">
        <ion-item *ngFor="let course of coursesObs|async;">

            <ion-accordion-group>
                <ion-accordion [value]="course.title">
                    <ion-item slot="header" color="light">
                      <ion-label>{{course.title}} {{course.eventDate| date: "HH:mm d MMM, yy"}} {{course.author}}</ion-label>
                    </ion-item>
                    <div class="ion-padding" slot="content">
                        <ion-text>{{course|json}}</ion-text>
                        
                    </div>
                </ion-accordion>
            </ion-accordion-group>

        </ion-item>
    </ion-list>

</div>
</ion-content>