<ng-container>
    <ion-header>
        <ion-toolbar>
            <ion-title>{{name}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content (keydown.enter)="confirm()">
        <ion-list>
            
            <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input [(ngModel)]="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> Location </ion-label>
                <ion-input [(ngModel)]="location"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Contact Person</ion-label>
                <ion-input [(ngModel)]="contactPerson"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Center photo</ion-label>

                <ion-icon *ngIf="!centerPhotoLink; else image" name="image-outline" (click)="galleryPhotoUpload.click()"></ion-icon>
                <ng-template #image>
                    <ion-img [src]="centerPhotoLink" (click)="galleryPhotoUpload.click()"></ion-img>
                </ng-template>
                <input type="file" (change)="addImage($event)" accept="image/*" required style="display: none;" #galleryPhotoUpload>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Contact Phone</ion-label>
                <ion-input [(ngModel)]="contactPhone"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Contact mail</ion-label>
                <ion-input [(ngModel)]="contactMail"></ion-input>
            </ion-item>
            <!-- <ion-item>
                <ion-label position="floating">Contact photo link</ion-label>
                <ion-input [(ngModel)]="contactPhotoLink"></ion-input>
            </ion-item> -->
            <ion-item>
                <ion-label>Opening hours</ion-label>
                <ion-list *ngIf="openingHoursObs | async as openingHoursAs">
                    <ion-item *ngFor="let day of openingHoursAs; let index = index">{{day}}
                        <ion-button color="danger" (click)="deleteDaySchedule(index)">Delete</ion-button>
                    </ion-item>
                </ion-list>
                <!-- <ion-button (click)="updateDaySchedule(id)">Add hours</ion-button> -->
                <!-- <ion-input [(ngModel)]="openingHours"></ion-input> -->
            </ion-item>
            <ion-item>
                <ion-label>Rooms</ion-label>
                <ion-list *ngIf="roomsObs|async as roomsLive">
                    <ion-item *ngFor="let room of roomsLive">{{room['name']}} - {{room['maxStudents']}} 
                        <ion-button color="danger" (click)="deleteRoom(room['id'])">Delete</ion-button>
                    </ion-item>
                </ion-list>
            </ion-item>

        </ion-list>
    </ion-content>
    <ion-footer>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="confirm()" [strong]="true" [disabled]="false">Confirm</ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-footer>
</ng-container>