<form (ngSubmit)="saveImage()" #imageForm="ngForm">
    <!-- <ion-item> -->
    <!-- <ion-label position="stacked">Select Image</ion-label> -->
    <input type="file" (change)="onFileSelected($event)" accept="*" required style="display: none;" #fileUpload>
    <ion-grid>
        <ion-row>
            <ion-button (click)="fileUpload.click()">Select Image...</ion-button>
            <ion-input *ngIf="imageFile" [disabled]="true">{{imageFile.name}}</ion-input>
        </ion-row>
    </ion-grid>
    <!-- </ion-item> -->

    <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input [(ngModel)]="imageName" name="name" type="text" required></ion-input>
    </ion-item>

    <ion-item>
    <ion-label position="stacked">Function</ion-label>
    <ion-input [(ngModel)]="imageFunction" name="function" type="text" required></ion-input>
    </ion-item>

    <div class="image-preview" *ngIf="imageFile">
    <!-- <ngx-image-cropper [imageBase64]="imageFile" [aspectRatio]="1" [resizeToWidth]="500" (imageCropped)="imageCropped($event)"></ngx-image-cropper> -->
    </div>

    <ion-item class="ion-text-center" *ngIf="croppedImage">
    <img [src]="croppedImage" alt="Cropped Image" class="cropped-image">
    </ion-item>

    <ion-item class="ion-text-center" *ngIf="uploading">
    <ion-spinner></ion-spinner>
    <p>Uploading image...</p>
    </ion-item>

    <!-- <ion-button expand="block" type="submit" [disabled]="!imageForm.valid || !croppedImage || uploading">Save Image</ion-button> -->
    <ion-button expand="block" type="submit" [disabled]="!imageForm.valid || uploading">Save Image</ion-button>
    <ion-button expand="block" (click)="saveImageOnServer()" [disabled]="!imageForm.valid || uploading">Save Image on server</ion-button>
    <ion-button (click)="returnToAdminPage()">Return</ion-button>
</form>
  