<ion-content *ngIf="(words$|async).account as words">
<div class="loginPageContainer" (keydown.enter)="loginWithEmail()" >
<form (ngSubmit)="loginWithEmail()" #loginForm="ngForm">

    <div class="loginPageElements">
        <ion-list>
            <ion-item>
                <ion-label position="floating">{{words.email}}</ion-label>
                <ion-input [(ngModel)]="email" required name="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">{{words.password}}</ion-label>
                <ion-input type="password" [(ngModel)]="password" required name="pwd"></ion-input>
            </ion-item>
            <ion-item *ngIf="loading" lines="none">
                <ion-text>{{words.connecting}}</ion-text>
                <ion-spinner></ion-spinner>
            </ion-item>
            <ion-item *ngIf="error" lines="none">
                <ion-text color="danger">{{error}}</ion-text>
            </ion-item>
        </ion-list>
    </div>

    <ion-grid class="buttonsGrid">
        <ion-row>
            <ion-col>
                <ion-button (click)="loginWithEmail()" [disabled]="!loginForm.valid">{{words.login}}</ion-button>
            </ion-col>
            <ion-col>
                <ion-button [routerLink]="['/create']">{{words.register}}</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="resetPassword()">{{words.forgotPassword}}</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button [routerLink]="['/createTeacher']">{{words.registerTeacher}}</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="loginWithGoogle()">
                    <ion-icon slot="start" size="large" src="/assets/logos/logo_google.svg"></ion-icon>
                    {{words.googleLogin}}
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="loginWithFB()">
                    <ion-icon slot="start" size="large" src="/assets/logos/logo_facebook.svg"></ion-icon>
                    {{words.facebookLogin}}</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</form>
</div>
</ion-content>
