
@media only screen and (min-width: 1100px) {
    .loginPageElements{
        width: 80%;
        margin: auto;
    }
}

.buttonsGrid{
    max-width: 380px;

    ion-button{
        width: 100%;
    }
}

ion-icon{
    background-color:white;
    border-radius: 25%;
    min-width: 30px;
}