<ng-container>
    <ion-header>
        <ion-toolbar>
            <ion-title>{{name}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content (keydown.enter)="confirm()">
        <ion-list>
            
            <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input [(ngModel)]="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> Location </ion-label>
                <ion-input [(ngModel)]="location"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Contact Person</ion-label>
                <ion-input [(ngModel)]="contactPerson"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Contact Phone</ion-label>
                <ion-input [(ngModel)]="contactPhone"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Contact photo link</ion-label>
                <ion-input [(ngModel)]="contactPhotoLink"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Opening hours</ion-label>
                <ion-list>
                    <ion-item *ngFor="let day of openingHours">{{day}}</ion-item>
                </ion-list>
                <ion-button>Add hours</ion-button>
                <!-- <ion-input [(ngModel)]="openingHours"></ion-input> -->
            </ion-item>
            <ion-item>
                <ion-label>Rooms</ion-label>
                <!-- <ion-input [(ngModel)]="rooms"></ion-input> -->
                <ion-list>
                    <ion-item *ngFor="let room of roomsData">{{room.name}} - {{room.maxStudents}} 
                        <ion-button color="danger" (click)="deleteRoom(room.id)">Delete</ion-button>
                    </ion-item>
                    <!-- <ion-item *ngFor="let room of roomsData">{{room|json}}<ion-button color="danger">Delete</ion-button></ion-item> -->
                </ion-list>
            </ion-item>

        </ion-list>
    </ion-content>
    <ion-footer>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="confirm()" [strong]="true" [disabled]="false">Confirm</ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-footer>
</ng-container>