<ion-content>
    <div class="partnersPageContainer">
        <h1>Partners</h1>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <img src="~/../assets/partners/flag.png"/>
                </ion-col>
                <ion-col>
                    <img src="~/../assets/partners/partner1.jpeg"/>
                </ion-col>
                <ion-col>
                    <img src="~/../assets/partners/flag.png"/>
                </ion-col>
                <ion-col>
                    <img src="~/../assets/partners/flag.png"/>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>