<ion-header>
    <ion-toolbar>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" (keydown.enter)="confirm()">
    <form (ngSubmit)="confirm()" #courseForm="ngForm">
    <ion-item>
        <ion-label>Title : </ion-label>
        <ion-input type="text" required placeholder="Course title" name="title" [(ngModel)]="title" [disabled]="cannotModify"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Room :</ion-label>
        <ion-select interface="popover" required placeholder="Select room" name="room_id" [(ngModel)]="room_id" [disabled]="cannotModify" (ionChange)="updateRoom($event)">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item [disabled]="cannotModify">
        <ion-text>Author : {{creatorName}}</ion-text>
    </ion-item>

    <ion-item [disabled]="cannotModify">
        <ion-label>Time</ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true" (ionChange)="updateTimeStart($event)">
            <ng-template>
                <ion-datetime id="datetime" value="{{timeStart}}"></ion-datetime>
            </ng-template>
        </ion-modal>
    </ion-item>

    <ion-item [disabled]="cannotModify">
        <ion-label>Duration</ion-label>
        <ion-input type="number" value="1" required name="duration" [(ngModel)]="duration" (ionChange)="updateDuration($event)"></ion-input>
        <ion-select interface="popover" name="durationUnit" [(ngModel)]="durationUnit">
            <ion-select-option value="hour" (ionChange)="updateDurationUnit($event)">hours</ion-select-option>
            <ion-select-option value="minute">minutes</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Max participants</ion-label>
        <ion-input type="number" placeholder="0" required name="max_participants" [(ngModel)]="max_participants" [disabled]="cannotModify"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Description</ion-label>
        <ion-input [(ngModel)]="description" required name="description" [disabled]="cannotModify"> </ion-input>
    </ion-item>

    <ion-accordion-group *ngIf="dataObs|async as event">
    <ion-accordion value="students">
        <ion-item slot="header" color="light">
          <ion-label>Students ({{event['attendantsId'].length}}/{{max_participants}})</ion-label>
        </ion-item>

        <div class="ion-no-padding" slot="content" *ngFor="let stud of event['attendantsId']">
            <ng-container *ngIf="stud; else unknown">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-item lines="none">
                                <ion-text>{{stud.f_name}} {{stud.l_name}} </ion-text>
                            </ion-item>
                        </ion-col>
                        <ion-col *ngIf="isPassedEvent">
                            <ion-item lines="none">
                                <ion-label>Absent</ion-label>
                                <ion-toggle slot="end" [checked]="stud.isAbsent" (ionChange)="setStudentAbsent($event,stud.id)"></ion-toggle>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ng-container>
            <ng-template #unknown>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-item lines="none"><ion-label>Unknown</ion-label></ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ng-template>
        </div>
    </ion-accordion>
    </ion-accordion-group>

    <div *ngIf="collisionEvents && collisionEvents.length > 0">
        <ion-label>Courses at the same time : </ion-label>
        <ion-list>
            <ion-item *ngFor="let evt of collisionEvents; let i = index">
                <ion-label *ngIf="i == collisionIndex ;else normal" color="danger">
                    <h2>{{evt['title']}}</h2>
                    <p>Room : {{evt['room_id']}}</p>
                    <p>From {{evt['timeStart']| date: "HH:mm"}} to {{evt['timeEnd']| date: "HH:mm"}}</p>
                    <p>{{evt['timeStart']}}</p>
                </ion-label>
                <ng-template #normal>
                <ion-label>
                    <h2>{{evt['title']}}</h2>
                    <p>Room : {{evt['room_id']}}</p>
                    <p>From {{evt['timeStart']| date: "HH:mm"}} to {{evt['timeEnd']| date: "HH:mm"}}</p>
                    <p>{{evt['timeStart']}}</p>
                </ion-label>
                </ng-template>
            </ion-item>
        </ion-list>
    </div>

    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="isAuthor || isAdmin">
            <ion-button (click)="deleteEntry()" color="danger" [strong]="true" >Delete</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true" [disabled]="!isRoomAvailable.value || !courseForm.valid">Confirm</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>