<ion-header>
    <ion-toolbar>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-item>
        <ion-label>Title : </ion-label>
        <ion-input type="text" placeholder="Course title" [(ngModel)]="title" [disabled]="isDisabled"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Room :</ion-label>
        <ion-select interface="popover" placeholder="Select room" [(ngModel)]="room_id" [disabled]="isDisabled" (ionChange)="updateRoom($event)">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item *ngIf="!isAuthor">
        <ion-text>{{creatorName}}</ion-text>
    </ion-item>

    <ion-item>
        <ion-datetime-button datetime="datetime" [disabled]="isDisabled"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true" (ionChange)="updateTime($event)">
            <ng-template>
            <ion-datetime id="datetime" value="{{time}}"></ion-datetime>
            </ng-template>
        </ion-modal>
    </ion-item>

    <ion-item>
        <ion-label>Max participants</ion-label>
        <ion-input type="number" placeholder="0" [(ngModel)]="max_participants" [disabled]="isDisabled"></ion-input>
    </ion-item>

    <ion-accordion-group *ngIf="dataObs|async as event">
    <ion-accordion value="students">
        <ion-item slot="header" color="light">
          <ion-label>Students ({{event['attendantsId'].length}}/{{max_participants}})</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" *ngFor="let stud of event['attendantsId']">
            {{stud.f_name}} {{stud.l_name}}
        </div>
    </ion-accordion>
    </ion-accordion-group>

      <div *ngIf="collisionEvents && !isDisabled">
        <ion-label>Courses at the same time : </ion-label>
        <ion-list>
            <ion-item *ngFor="let evt of collisionEvents; let i = index">
                <ion-label *ngIf="i == collisionIndex ;else normal" color="danger">
                    <h2>{{evt['title']}}</h2>
                    <p>Room : {{evt['room_id']}}</p>
                </ion-label>
                <ng-template #normal>
                <ion-label>
                    <h2>{{evt['title']}}</h2>
                    <p>Room : {{evt['room_id']}}</p>
                </ion-label>
                </ng-template>
            </ion-item>
        </ion-list>
    </div>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons *ngIf="isAdmin" slot="secondary">
            <ion-button (click)="deleteEntry()" color="danger">Delete</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true" [disabled]="!isValid.value">Confirm</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>