<ion-content>
    <!-- This modal allows teachers to create a new course -->
    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancel</ion-button>
              </ion-buttons>
              <ion-title>Welcome</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>

          <ion-content class="ion-padding">
            <ion-item>
              <ion-label position="stacked">Enter title</ion-label>
              <ion-input type="text" placeholder="Course title" [(ngModel)]="newEvent.title"></ion-input>
            </ion-item>

            <ion-item>
                <ion-select interface="popover" placeholder="Select room" [(ngModel)]="newEvent.room">
                    <ion-select-option value="0">0</ion-select-option>
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-datetime-button datetime="datetime"></ion-datetime-button>
                <ion-modal [keepContentsMounted]="true" (ionChange)="updateTime($event)">
                  <ng-template>
                    <ion-datetime id="datetime" value="{{newEvent.time}}"></ion-datetime>
                  </ng-template>
                </ion-modal>
            </ion-item>

            <ion-item>
                <ion-label>Max participants</ion-label>
                <ion-input type="number" placeholder="00" [(ngModel)]="newEvent.max_participants"></ion-input>
            </ion-item>

            
          </ion-content>
        </ng-template>
      </ion-modal>

<div class="scheduleContainer">
<ion-grid class="ion-no-margin">
    <ion-row class="ion-text-center">
        <ion-col>
            <ion-buttons class="ion-justify-content-center">
                <ion-button fill="solid" (click)="closeOpenMonthViewDay()">Previous </ion-button>
                <ion-button fill="solid">Today </ion-button>
                <ion-button fill="solid" (click)="closeOpenMonthViewDay()">Next </ion-button>
            </ion-buttons>
        </ion-col>
        <ion-col>
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </ion-col>
        <ion-col>
            <ion-buttons class="ion-justify-content-center">
                <ion-button fill="solid" (click)="setView(CalendarView.Month)">Month</ion-button>
                <ion-button fill="solid" (click)="setView(CalendarView.Week)">Week</ion-button>
                <ion-button fill="solid" (click)="setView(CalendarView.Day)">Day</ion-button>
            </ion-buttons>
        </ion-col>
    </ion-row>
</ion-grid>

<!-- Start Calendar -->

<div [ngSwitch]="view">
    <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (eventClicked)="handleCalendarEntry('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        (dayClicked)="myclick($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleCalendarEntry('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleCalendarEntry('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
</div>

<!-- Event commands -->


<ion-grid class="ion-no-margin">
    <ion-row class="ion-text-center">
        <ion-col>
            <h3>
                Edit events
            </h3>
        </ion-col>
        <ion-col>
            <ion-text>{{clickedDate|json}}</ion-text>
        </ion-col>
        <ion-col>
            <ion-buttons class="ion-justify-content-center">
                <ion-button id="open-modal" fill="solid" (click)="creatingEvent($event)">Add new</ion-button>
            </ion-buttons>
        </ion-col>
    </ion-row>
</ion-grid>

<div class="events_grid" *ngIf="extractedData as eventsList">
<ion-grid>
    <ion-row>
        <ion-col>
            Title
        </ion-col>
        <ion-col>
            Time
        </ion-col>
        <ion-col>
            Teacher	
        </ion-col>
        <ion-col>
            Classroom	
        </ion-col>
        <ion-col>
            Attendants
        </ion-col>
    </ion-row>
    <ion-row *ngFor="let event of eventsList; index as i">
        <ion-col>
            {{event['title']}} (max:{{event['max_participants']}})
            <!-- {{event['title']}} -->
        </ion-col>
        <ion-col>
            {{event['eventDate']| date: "HH:mm d MMM, yy"}}
        </ion-col>
        <ion-col>
            {{event['author'].f_name}} {{event['author'].l_name}}
        </ion-col>
        <ion-col>            
            {{event['room_id']}}
        </ion-col>
        <ion-col>
            <ion-list *ngIf="event['attendantsId']" lines="none">
                <ion-item *ngFor="let att of event['attendantsId']">
                    {{att.f_name}} {{att.l_name}}
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
</ion-grid>
</div>
</div>
</ion-content>
