<p>schedulepage works!</p>
<ion-grid [fixed]="true">
    <ion-row>
      <ion-col>Monday</ion-col>
      <ion-col>Tuesday</ion-col>
      <ion-col>Wednesday</ion-col>
      <ion-col>Thursday</ion-col>
      <ion-col>Friday</ion-col>
      <ion-col>Saturday</ion-col>
      <ion-col>Sunday</ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  
  