ion-tab-button{
    --color : var(--ion-color-primary);
    font-size: 18px;
}

ion-label{
    margin-bottom: 0px;
}

ion-tab-button:hover,.tab-selected{
    background-color: var(--ion-color-primary);
    ion-label, ion-icon{
        color : white;
    }
}

ion-tab-bar{
    border-bottom: solid 10px var(--ion-color-primary);
    --background:white;
    ion-img{
        max-width: 30px;
    }
}

