ion-tab-button{
    --color : var(--ion-color-primary);
    // --color-selected : var(--ion-color-primary-shade);


    // --color:rgb(56, 52, 255);
    --color-selected:rgb(147, 146, 211);
}

ion-tab-bar{
    // --background: var(--ion-color-primary);

    --background:white;
    margin-bottom: 20px;
}

ion-label{
    font-size: 18px;
}