<ion-header>
    <div class="myNavBar">
        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col button="true" id="menu_button_{{i}}" *ngFor="let item of navigationItems;
                let i = index;" (click)="selectMenu(i)">
                    <!-- <ion-button class="ion-text-center ion-text-wrap ion-padding-horizontal ion-text-uppercase" -->
                    <ion-button 
                    expand="full" 
                    fill="clear"
                    class="ion-text-center ion-text-wrap ion-no-padding ion-no-margin ion-text-uppercase"
                    >{{item}}</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-header>