<ng-container>
    <ion-header>
        <ion-toolbar>
            <ion-title>{{name}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content >
        <form (ngSubmit)="confirm()" [formGroup]="profileForm" (keydown.enter)="confirm()">
        <ion-list>
            <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> Location </ion-label>
                <ion-input formControlName="location"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> Date </ion-label>
                <app-day-input formControlName="startDay"></app-day-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> End </ion-label>
                <app-day-input formControlName="endDay"></app-day-input>
            </ion-item>
            <ion-item *ngIf="galleries | async as GalleriesList">
                <ion-label position="floating"> Gallery </ion-label>
                <ion-select aria-label="Gallery" interface="popover" placeholder="Select gallery" formControlName="galleryId">
                    <ion-select-option value="{{gallery['id']}}" *ngFor="let gallery of GalleriesList">{{gallery['name']}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="!isLoadingGallery.value; else loadingGallery">
                <ion-label > Flyer </ion-label>
            
                <ion-icon *ngIf="!leafletLink; else image" name="image-outline" (click)="galleryPhotoUpload.click()"></ion-icon>
                <ng-template #image>
                    <ion-img [src]="leafletLink" (click)="galleryPhotoUpload.click()"></ion-img>
                </ng-template>
                <input type="file" (change)="addImage($event)" accept="*" required style="display: none;" #galleryPhotoUpload>
            </ion-item>


            <ng-template #loadingGallery>
                <ion-item>
                    <ion-label position="floating"> Link to flyer </ion-label>
                    <ion-spinner>Loading</ion-spinner>
                </ion-item>
            </ng-template>

            <ion-item *ngIf="users | async as usersList">
                <ion-label> Participants </ion-label>
                <ion-list lines="none">
                    <ion-item *ngFor="let user of usersList">{{user['f_name']}} {{user['l_name']}}</ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
        </form>
    </ion-content>
    <ion-footer>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <!-- <ion-button type="submit" [strong]="true" [disabled]="!dayInputValid || !profileForm.valid">Confirm</ion-button> -->
                <ion-button  type="submit" [strong]="true" [disabled]="!profileForm.valid">Confirm</ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-footer>
</ng-container>
