<ng-container>
    <ion-header>
        <ion-toolbar>
            <ion-title>{{name}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content (keydown.enter)="confirm()">
        <ion-list>
            <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input [(ngModel)]="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> Location </ion-label>
                <ion-input [(ngModel)]="location"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> Gallery </ion-label>
                <ion-input [(ngModel)]="galleryId"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> Link to flyer </ion-label>
                <ion-input [(ngModel)]="leafletLink"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> Participants </ion-label>
                <ion-input [(ngModel)]="participants"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> Date </ion-label>
                <ion-input [(ngModel)]="timeStart" class="dateInput"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> End </ion-label>
                <ion-input [(ngModel)]="timeEnd"></ion-input>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="confirm()" [strong]="true" [disabled]="false">Confirm</ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-footer>
</ng-container>
