<ng-container>
    <ion-header>
        <ion-toolbar>
            <ion-title>{{name}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content (keydown.enter)="confirm()">
        <form (ngSubmit)="confirm()" [formGroup]="profileForm">
        <ion-list>
            <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> Location </ion-label>
                <ion-input formControlName="location"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> Gallery </ion-label>
                <ion-input formControlName="galleryId"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> Link to flyer </ion-label>
                <ion-input formControlName="leafletLink"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> Participants </ion-label>
                <ion-input formControlName="participants"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> Date </ion-label>
                <!-- <ion-input [(ngModel)]="timeStart" formControlName="timeStart" placeholder="DD.MM.YYYY"></ion-input> -->
                <app-day-input formControlName="startDay"></app-day-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> End </ion-label>
                <app-day-input formControlName="endDay"></app-day-input>
                <!-- <ion-input [(ngModel)]="timeEnd" formControlName="timeEnd" placeholder="DD.MM.YYYY"></ion-input> -->
            </ion-item>
        </ion-list>
        </form>
    </ion-content>
    <ion-footer>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="confirm()" [strong]="true" [disabled]="!dayInputValid">Confirm</ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-footer>
</ng-container>
