<ng-container *ngIf="(words$|async).account as words">
    
<ion-content class="ion-padding" (keydown.enter)="confirm()">
    <form (ngSubmit)="confirm()" #evtCreation="ngForm">
    <ion-item>
        <ion-label>{{words.title}} : </ion-label>
        <ion-input type="text" name="title" required [(ngModel)]="title"></ion-input>
    </ion-item>

    <ion-item *ngIf="rooms | async as roomsList">
        <ion-label>{{words.room}} :</ion-label>
        <ion-select interface="popover" name="room_id" required [(ngModel)]="room_id" (ionChange)="updateRoom($event)">
            <ng-container *ngFor="let elem of roomsList">
                <ion-select-option [value]="elem['id']">{{elem['name']}}</ion-select-option>
            </ng-container>
        </ion-select>
    </ion-item>

    <ion-item class="hours">
        <ion-label>{{words.time}} :</ion-label>
        <ion-select interface="popover" aria-label="hour" placeholder="Select hour" [value]="defaultHour" (ionChange)="updateStartingHour($event)">
            <ion-select-option *ngFor="let number of [6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22]" [value]="number">{{number}}</ion-select-option>
        </ion-select>
        <ion-select interface="popover" aria-label="minute" placeholder="Select minute" [value]="defaultMinute" (ionChange)="updateStartingMinute($event)">
            <ion-select-option *ngFor="let number of [0,15,30,45]" [value]="number">{{number}}</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>{{words.duration}} :</ion-label>
        <ion-input type="number" value="1" [min]="0" required name="duration" [(ngModel)]="duration" (ionChange)="updateDuration($event)"></ion-input>
        <ion-select interface="popover" (ionChange)="updateDurationUnit($event)" name="durationUnit" [(ngModel)]="durationUnit">
            <ion-select-option value="hour">{{words.hours}}</ion-select-option>
            <ion-select-option value="minute">{{words.minutes}}</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item *ngIf="selectedDays && selectedDays.length > 1">
        <ion-label>{{words.days}} : </ion-label>
        <ion-item *ngFor="let day of selectedDays; let index = index" lines="none">
            {{day['date']|date : "dd.MM.YY"}} 
            <ion-icon color="danger" name="close-circle-outline" (click)="removeDay(index)">
            </ion-icon>
        </ion-item>
    </ion-item> 

    <ion-item>
        <ion-label>{{words.maxParticipants}} :</ion-label>
        <ion-input type="number" [min]="0" placeholder="00" name="max_participants" required [(ngModel)]="max_participants"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>{{words.description}} :</ion-label>
        <ion-textarea [(ngModel)]="description" [autoGrow]="true" required name="descr"> </ion-textarea>
    </ion-item>

    <div *ngIf="multiCollisions">
        <ion-label>{{words.conflicts}} : </ion-label>
        <ion-list *ngFor="let day of multiCollisions; let dayIndex = index">
            <ion-item>
                <ion-label>
                    {{day.date|date:"dd.MM.YY"}}
                </ion-label>
                <ion-list>
                    <ion-item lines="none" *ngFor="let coll of (day.collisions); let collisionIndex = index"> 
                        <ion-text *ngIf="collisionIndexes[dayIndex] == collisionIndex; else normal" color="danger">
                            {{coll['title']}} {{words.from}} {{coll['timeStart']|date:"HH:mm"}} {{words.to}} {{coll['timeEnd']|date:"HH:mm"}}. {{words.room}} {{coll['room'].name}}
                        </ion-text>
                        <ng-template #normal>
                            <ion-text>
                                {{coll['title']}} {{words.from}} {{coll['timeStart']|date:"HH:mm"}} {{words.to}} {{coll['timeEnd']|date:"HH:mm"}}. {{words.room}} {{coll['room'].name}}
                            </ion-text>
                        </ng-template>
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
    </div>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-button (click)="cancel()">{{words.cancel}}</ion-button>
        </ion-buttons>

        
        <ion-buttons *ngIf="!isLoading.value;else loading" slot="end">
        <ion-button (click)="confirm()" [strong]="true" [disabled]="!isValid.value || !evtCreation.valid">{{words.confirm}}</ion-button>
        </ion-buttons>
        <ng-template #loading>
            <ion-item>
                <ion-spinner></ion-spinner>
                <p>{{words.loading}}...</p>
            </ion-item>
        </ng-template>

    </ion-toolbar>
</ion-footer>
</ng-container>
