<ion-content>
<div class="loginPageContainer">
    <div class="loginPageElements">

    <ion-item>
        <ion-label>Email</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Password</ion-label>
        <ion-input></ion-input>
    </ion-item>

    <ion-grid class="buttonsGrid">
        <ion-row>
            <ion-col>
                <ion-button>Login</ion-button>
            </ion-col>
            <ion-col>
                <ion-button [routerLink]="['/create']">Create</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="loginWithGoogle()">Login with Google</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button>Login with Facebook</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button>Login anonymously</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>


    </div>
</div>
</ion-content>
