.loginPageContainer{
    text-align: center;
}

.loginPageElements{
    width: 80%;
    margin: auto;
    padding-top: 5%;
}

.buttonsGrid{
    width: 220px;

    ion-button{
        width: 100%;
    }
}