<ion-content *ngIf="(words$|async).account as words">
    <div class="accountItems" (keydown.enter)="register()">
        <form (ngSubmit)="register()" [formGroup]="profileForm">
            <ion-grid>
                <ion-row>
                    <ion-col size="3">
                        <ion-label>{{words.email}}</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-input formControlName="email" placeholder="name@domain.com" type="email"></ion-input>
                    </ion-col>
                </ion-row>

                <div formGroupName="passData">
                    <ion-row>
                        <ion-col size="3">
                            <ion-label>{{words.password}}</ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-input formControlName="password" type="password" placeholder="At least 6 characters"></ion-input>
                        </ion-col>
                    </ion-row>
                </div>
                <div formGroupName="passData">
                    <ion-row>
                        <ion-col size="3">
                            <ion-label>{{words.passwordConfirm}}</ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-input formControlName="password2" type="password" placeholder="Password repeat"></ion-input>
                        </ion-col>
                    </ion-row>
                    <!-- <label *ngIf="!profileForm.get('passData')?.valid && profileForm.get('passData')?.touched" [ngClass]="'error'">Password error</label> -->
                </div>
                <label *ngIf="profileForm.get('passData')?.hasError('passwordTooShort') && profileForm.get('passData.password')?.touched" [ngClass]="'error'">{{words.passwordTooShort}}</label>
                <label *ngIf="profileForm.get('passData')?.hasError('passwordMismatch') && profileForm.get('passData.password2')?.touched" [ngClass]="'error'">{{words.passwordMismatch}}</label>

                <ion-row>
                    <ion-col size="3">
                        <ion-label>{{words.firstName}}</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-input formControlName="firstName"></ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="3">
                        <ion-label>{{words.lastName}}</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-input formControlName="lastName"></ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="3">
                        <ion-label>{{words.address}}</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-input formControlName="address"></ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="3">
                        <ion-label>{{words.birthday}}</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-input formControlName="b_day" placeholder="dd.mm.yyyy" (ionInput)="onInput($event)"></ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="3">
                        <ion-label>{{words.spermit}}</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-input formControlName="permitId" placeholder="XX0000000"></ion-input>
                        <!-- <ion-input placeholder="XX0000000"></ion-input> -->
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-text>{{words.spermitInfo}}</ion-text>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="3">
                        <ion-label>{{words.phone}}</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-input formControlName="phone" placeholder="+88 88 888 88 88"></ion-input>
                    </ion-col>
                </ion-row>
                <ion-row style="justify-content: center;">
                    <ion-button (click)="return()">{{words.return}}</ion-button>
                    <ion-button [disabled]="!profileForm.valid" type="submit">{{words.register}}</ion-button>
                </ion-row>
                <ion-row *ngIf="loading.value">
                    <ion-col style="justify-content: center;">
                        <ion-text>{{words.loading}}</ion-text>
                        <ion-spinner></ion-spinner>
                    </ion-col>
                </ion-row>
            </ion-grid>
            
        </form>
    </div>
</ion-content>