<ion-content>
<div class="adminContent">

    <ion-button *ngIf="requestsCount|async as count" (click)="manageRequests()">
        Teachers requests 
        <ion-badge color="danger" slot="end">{{count}}</ion-badge>
    </ion-button>
    
    <ion-button class="activatedButton" *ngIf="showUsers.value; else hideUsers" (click)="toggle(showUsers)"><ion-icon name="caret-up-outline"></ion-icon>Users</ion-button>
    <ng-template #hideUsers>
        <ion-button (click)="toggle(showUsers)"><ion-icon name="caret-down-outline"></ion-icon>Users</ion-button>
    </ng-template>
    
    <ion-button class="activatedButton" *ngIf="showCourses.value; else hideCourses" (click)="toggle(showCourses)"><ion-icon name="caret-up-outline"></ion-icon>Courses</ion-button>
    <ng-template #hideCourses>
        <ion-button (click)="toggle(showCourses)"><ion-icon name="caret-down-outline"></ion-icon>Courses</ion-button>
    </ng-template>
    
    <ion-button class="activatedButton" *ngIf="showAssoMembers.value; else hideAsso" (click)="toggle(showAssoMembers)"><ion-icon name="caret-up-outline"></ion-icon>Association members</ion-button>
    <ng-template #hideAsso>
        <ion-button (click)="toggle(showAssoMembers)"><ion-icon name="caret-down-outline"></ion-icon>Association members</ion-button>
    </ng-template>
    
    <ion-button class="activatedButton" *ngIf="showPartners.value; else hidePartners" (click)="toggle(showPartners)"><ion-icon name="caret-up-outline"></ion-icon>Partners</ion-button>
    <ng-template #hidePartners>
        <ion-button (click)="toggle(showPartners)"><ion-icon name="caret-down-outline"></ion-icon>Partners</ion-button>
    </ng-template>
    
    <ion-button class="activatedButton" *ngIf="showGalleriesManager.value; else hidePhotoGall" (click)="toggle(showGalleriesManager)"><ion-icon name="caret-up-outline"></ion-icon>Photos galleries</ion-button>
    <ng-template #hidePhotoGall>
        <ion-button (click)="toggle(showGalleriesManager)"><ion-icon name="caret-down-outline"></ion-icon>Photos galleries</ion-button>
    </ng-template>
    
    <ion-button class="activatedButton" *ngIf="showActivities.value; else hideActivities" (click)="toggle(showActivities)"><ion-icon name="caret-up-outline"></ion-icon>Activities</ion-button>
    <ng-template #hideActivities>
        <ion-button (click)="toggle(showActivities)"><ion-icon name="caret-down-outline"></ion-icon>Activities</ion-button>
    </ng-template>
    
    <ion-button class="activatedButton" *ngIf="showRooms.value; else hideRooms" (click)="toggle(showRooms)"><ion-icon name="caret-up-outline"></ion-icon>Rooms</ion-button>
    <ng-template #hideRooms>
        <ion-button (click)="toggle(showRooms)"><ion-icon name="caret-down-outline"></ion-icon>Rooms</ion-button>
    </ng-template>

    <ion-searchbar *ngIf="showUsers.value || showCourses.value" placeholder="Search" [(ngModel)]="searchString" (ionChange)="updateSearchValue()"></ion-searchbar>

    <ng-container *ngIf="filteredDataObs | async as filteredData">
        <div *ngIf="showUsers.value">
            <h1>Users</h1>
            <ion-item lines="none">
                <ion-select interface="action-sheet" [(ngModel)]="statusToFilter" (ionChange)="filterUsersList()" value="all">
                    <ion-select-option value="all">All</ion-select-option>
                    <ion-select-option value="student">Students</ion-select-option>
                    <ion-select-option value="child">Children</ion-select-option>
                    <ion-select-option value="teacher">Teachers</ion-select-option>
                    <ion-select-option value="admin">Admins</ion-select-option>
                    <ion-select-option value="request">Teachers requests </ion-select-option>
                    <ion-select-option value="ban">Banned</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-accordion-group [multiple]="true">
                <ion-item *ngFor="let usr of filteredData[0]" lines="none">
                    <ion-accordion [value]="usr['id']">
                        <ion-item slot="header" color="light">
                        <ion-label>{{usr['l_name']}} {{usr['f_name']}}</ion-label>
                        </ion-item>
                        <div class="ion-padding" slot="content">
                            <p *ngIf="usr['email']">Email : {{usr['email']}}</p>
                            <p>Status : {{usr['status']}}</p>
                            <p *ngIf="usr['phone']">Phone : {{usr['phone']}}</p>
                            <p *ngIf="usr['birthday']">Birthday : {{usr['birthday']}}</p>
                            <p *ngIf="usr['s_permit_id']">S permit ID : {{usr['s_permit_id']}}</p>
                            <p *ngIf="usr['address']">Address : {{usr['address']}}</p>
                            <p *ngIf="usr['subscribeDate']">Subscribe date : {{usr['subscribeDate']}}</p>
                            <ion-text *ngIf="usr['ban']" color="danger">
                            <p> Banned on : {{usr['ban'].date}} by {{usr['ban'].author?.l_name}} {{usr['ban'].author?.f_name}}<br>
                            Reason : {{usr['ban'].comment}}</p>
                            </ion-text>
                            <ion-list *ngIf="usr['children'] && usr['children'].length > 0">
                                <ion-item *ngFor="let child of usr['children']">{{child|json}} {{child.f_name}} {{child.l_name}} {{child.birthday}}

                                    <ion-button *ngIf="child['ban'] == undefined; else unban" (click)="banUser(child['id'])">Ban</ion-button>
                                    <ng-template #unban>
                                        <ion-button (click)="unbanUser(child['id'])">Unban</ion-button>
                                    </ng-template>

                                </ion-item>
                            </ion-list>
                            
                            <span>
                            <ion-button *ngIf="usr['ban'] == undefined; else unban" (click)="banUser(usr['id'])">Ban</ion-button>
                            <ng-template #unban>
                                <ion-button (click)="unbanUser(usr['id'])">Unban</ion-button>
                            </ng-template>
                            <ion-button (click)="deleteUser(usr['id'])">Delete</ion-button>
                            <ion-button *ngIf="usr['status']=='request'" (click)="acceptRequest(usr['id'])">Accept teacher</ion-button>
                            <ion-button *ngIf="usr['status'].includes('teacher') || usr['status'].includes('admin')" (click)="seeWorkingHours(usr['id'])">Working hours</ion-button>
                            <ng-container *ngIf="isSuperAdmin.value && ! usr['status'].includes('superadmin')">
                                <ion-button *ngIf="usr['status']=='teacher'" (click)="promoteAdmin(usr['id'])">Promote admin</ion-button>
                                <ion-button *ngIf="usr['status'].includes('admin')" (click)="revokeAdmin(usr['id'])">Revoke admin</ion-button>
                            </ng-container>
                            </span>
                        </div>
                    </ion-accordion>
                </ion-item>
            </ion-accordion-group>
        </div>

        <div *ngIf="showCourses.value">
            <h1>Courses</h1>
            <ion-item lines="none">
                <ion-select interface="action-sheet" [(ngModel)]="timeFilter" (ionChange)="filterCoursesList()" value="all">
                    <ion-select-option value="all">All</ion-select-option>
                    <ion-select-option value="future">Courses to come</ion-select-option>
                    <ion-select-option value="past">Past courses</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-accordion-group [multiple]="true">
                <ion-item *ngFor="let course of filteredData[1]" lines="none">
                    <ion-accordion [value]="course['id']">
                        <ion-item slot="header" color="light">
                            <ion-label>{{course['title']}} {{course['timeStart']| date: "HH:mm d MMM, yy"}} {{course['author'].l_name}} {{course['author'].f_name}}</ion-label>
                        </ion-item>
                        <div class="ion-padding" slot="content" (click)="handleEvent(course)">
                            <p>Room : {{course['room'].name}}</p>
                            <p>Participants : {{course['attendantsId'].length}}/{{course['max_participants']}}</p>
                            <p *ngIf="course['description']">Description : {{course['description']}}</p>
                            <ion-list *ngIf="course['attendants'].length > 0" class="ion-no-padding">
                                <ion-label>Students</ion-label>
                                <ion-item *ngFor="let student of course['attendants']">
                                    <ion-label *ngIf="student; else unknown">{{student['l_name']}} {{student['f_name']}}</ion-label>
                                    <ng-template #unknown><ion-label>Unknown</ion-label></ng-template>
                                </ion-item>
                            </ion-list>
                        </div>
                    </ion-accordion>
                </ion-item>
            </ion-accordion-group>
        </div>
    </ng-container>

    <div *ngIf="showAssoMembers.value">
        <h1>Association members</h1>
        <div lines="none" class="addButtonContainer">
            <ion-button (click)="createMember()" color="success"> <ion-icon name="add-circle-outline"></ion-icon> Add new</ion-button>
        </div>
        <ion-accordion-group>
            <ion-item *ngFor="let usr of (assoMembers|async)" lines="none">
                <ion-accordion [value]="usr['id']">
                    <ion-item slot="header" color="light" (click)="cancelMemberEdit()">
                    <ion-label> <b>{{usr['name']}}</b> {{usr['role']}}</ion-label>
                    </ion-item>
                    <div class="ion-padding" slot="content">
                        
                        <div *ngIf="editingMember.value; else displayMember" class="assoMemberInputs">
                            <ion-grid>
                                <ion-row>
                                    <ion-col size="1">
                                        <ion-label>Name</ion-label>
                                    </ion-col>
                                    <ion-col>
                                        <ion-input type="text" [(ngModel)]="memberNewName"> </ion-input>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="1">
                                        <ion-label>Role</ion-label>
                                    </ion-col>
                                    <ion-col>
                                        <ion-input type="text" [(ngModel)]="memberNewRole"> </ion-input>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="1">
                                        <ion-label>Link</ion-label>
                                    </ion-col>
                                    <ion-col>
                                        <ion-input type="text" [(ngModel)]="memberNewLink"> </ion-input>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                            <ion-thumbnail style="cursor: pointer;">
                                <input type="file" (change)="onFileSelected($event)" accept="*" required style="display: none;" #fileUpload>
                                <ion-item (click)="fileUpload.click()" lines="none">
                                    <ion-img *ngIf="photoChanged.value;else dbPhoto" [src]="tempImage" alt="Profile view"></ion-img>
                                    <ng-template #dbPhoto>
                                        <ion-img [src]="usr['photo']" alt="Profile view"></ion-img>
                                    </ng-template>
                                </ion-item>
                            </ion-thumbnail>
                            
                            <span>
                                <ion-button color="danger" (click)="deleteMember(usr['id'])">Delete</ion-button>
                                <ion-button (click)="cancelMemberEdit()">Cancel</ion-button>
                                <ion-button (click)="updateMember()">Update</ion-button>
                            </span>
                        </div>

                        <ng-template #displayMember>
                            <!-- <p>Name : {{usr['name']}}</p>
                            <p>Role : {{usr['role']}}</p> -->
                            <p>Link : <a [href]="usr['link']">{{usr['link']}}</a></p>
                            <ion-thumbnail>
                                <ion-img [src]="usr['photo']" alt="Profile view"></ion-img>
                            </ion-thumbnail>
                            <span>
                                <ion-button color="danger" (click)="deleteMember(usr['id'])">Delete</ion-button>
                                <ion-button (click)="editMember(usr['id'])">Edit</ion-button>
                            </span>
                        </ng-template>

                    </div>
                </ion-accordion>
            </ion-item>
        </ion-accordion-group>
    </div>

    <div *ngIf="showPartners.value">
        <h1>Partners</h1>
        <div lines="none" class="addButtonContainer">
            <ion-button (click)="createPartner()" color="success"> <ion-icon name="add-circle-outline"></ion-icon> Add new</ion-button>
        </div>
        <ion-list>
            <ion-item *ngFor="let partner of partnersData; let i = index">
                <ion-grid>
                    <ion-row>
                        <ion-col size="3">
                            <input type="file" (change)="onFileSelectedPartners($event,i)" accept="*" required style="display: none;" #fileUpload>
                            <ion-thumbnail style="cursor: pointer;">
                                <ion-item (click)="fileUpload.click()" lines="none" class="partnersLogo">
                                    <ion-img *ngIf="partner.photoChanged;else dbPhotoPartner" [src]="tempImagePartner" alt="Profile view"></ion-img>
                                    <ng-template #dbPhotoPartner>
                                        <ion-img [src]="partner.logoName" alt="Profile view"></ion-img>
                                    </ng-template>
                                </ion-item>
                            </ion-thumbnail>
                        </ion-col>
                        <ion-col>
                            <ion-item class="parnterInputItem" lines="none">
                                <ion-input type="text" [(ngModel)]="partnersData[i].link"> </ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <span>
                            <ion-button color="danger" (click)="deletePartner(i)">Delete</ion-button>
                            <ion-button (click)="restorePartner(i)">Restore</ion-button>
                            <ion-button (click)="updatePartner(i)">{{partner.id?"Update":"Save"}}</ion-button>
                        </span>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
    </div>

    <div *ngIf="showGalleriesManager.value" class="galleriesContainer">
        <h1>Photo galleries</h1>
        <div lines="none" class="addButtonContainer">
            <ion-button (click)="addGallery()" color="success"> <ion-icon name="add-circle-outline"></ion-icon> Create album </ion-button>
        </div>
        <div *ngIf="galleries | async as galleriesData">
            <ion-list>
                <div *ngFor="let gall of galleriesData; let index = index">
                    <ion-button *ngIf="selectedGallery!=index; else normalGallery" class="galleryNameButton" (click)="openGallery(gall['id'],index)"><ion-icon name="caret-down-outline"></ion-icon>{{gall['name']}}</ion-button>
                    <ng-template #normalGallery>
                        <ion-button class="activatedButton galleryNameButton" (click)="openGallery(gall['id'],index)"><ion-icon name="caret-up-outline"></ion-icon>{{gall['name']}}</ion-button>
                    </ng-template>
                    
                    <ion-button color="danger" (click)="deleteGallery(gall['id'])">Delete</ion-button>
                    <ion-button (click)="renameGallery(gall['id'])">Rename</ion-button>
                </div>
                <div *ngIf="selectedGallery >= 0">
                    <ion-grid *ngIf="!isLoadingGallery.value; else loadingGallery">
                        <ion-row *ngIf="images | async as imagesSnapshot">
                            <ion-col *ngFor="let img of imagesSnapshot">
                                <ion-thumbnail class="galleryImage">
                                    <img [src]="img['link']"/>
                                    <ion-icon color="danger" class="removeIcon" name="close-circle" (click)="deleteImageFromGallery(img)"></ion-icon>
                                </ion-thumbnail>
                            </ion-col>
                            <ion-col>
                                <input type="file" (change)="addImageToGallery($event)" accept="*" required style="display: none;" #galleryPhotoUpload>
                                <ion-thumbnail (click)="galleryPhotoUpload.click()">
                                    <ion-icon class="addPhotoToGalleryIcon" name="add-circle-outline"></ion-icon>
                                </ion-thumbnail>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <ng-template #loadingGallery>
                        <ion-spinner>Loading</ion-spinner>
                    </ng-template>
                </div>
            </ion-list>
        </div>
    </div>

    <div *ngIf="showRooms.value">
        <h1>Rooms</h1>
        <div lines="none" class="addButtonContainer">
            <ion-button (click)="createRoom()" color="success"> <ion-icon name="add-circle-outline"></ion-icon> Add new</ion-button>
        </div>
        <ion-list lines="none" class="roomsInputs">
            <ion-item *ngFor="let room of roomsData; let i = index" lines="none">
                <ion-grid>
                    <ion-row>
                        <ion-col size="1">
                            <ion-label>Name </ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-input type="text" [(ngModel)]="roomsData[i].name"> </ion-input>
                        </ion-col>
                        <ion-col size="2">
                            <ion-label>Max students </ion-label> 
                        </ion-col>
                        <ion-col>
                            <ion-input type="text" [(ngModel)]="roomsData[i].maxStudents"> </ion-input>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <span>
                            <ion-button color="danger" (click)="deleteRoom(i)">Delete</ion-button>
                            <ion-button (click)="updateRoom(i)">Update</ion-button>
                        </span>
                    </ion-row>
                    <ion-row>
                        <ion-popover #roomUpdatePopOver [isOpen]="showRoomConfirmation" (didDismiss)="showRoomConfirmation = false">
                        <ng-template>
                            <ion-content class="ion-padding"> Value updated!</ion-content>
                        </ng-template>
                        </ion-popover>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
    </div>

    <div *ngIf="showActivities.value">
        <h1>Activities</h1>
        <div lines="none" class="addButtonContainer">
            <ion-button (click)="createActivity()" color="success"> <ion-icon name="add-circle-outline"></ion-icon> Add new</ion-button>
        </div>
        <ion-list class="activityInputs">
            <ion-item *ngFor="let activity of activities; let i = index">
                <ion-grid>
                    <ion-row>
                        <ion-col size="2">
                            <ion-label>Title </ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-input [(ngModel)]="activity.title"> </ion-input>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="2">
                            <ion-label>Icon </ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-icon id="click-trigger" [name]="activity.iconName" class="activityIcon"></ion-icon>
                            <ion-popover trigger="click-trigger" triggerAction="click">
                            <ng-template>
                                <ion-content class="ion-padding">
                                    <ion-icon name="people-circle-outline" class="activityIcon" (click)="setIconName(activity,'people-circle-outline')"></ion-icon>
                                    <ion-icon name="storefront-outline" class="activityIcon" (click)="setIconName(activity,'storefront-outline')"></ion-icon>
                                    <ion-icon name="color-palette-outline" class="activityIcon" (click)="setIconName(activity,'color-palette-outline')"></ion-icon>
                                    <ion-icon name="cut-outline" class="activityIcon" (click)="setIconName(activity,'cut-outline')"></ion-icon>
                                    <ion-icon name="football-outline" class="activityIcon" (click)="setIconName(activity,'football-outline')"></ion-icon>
                                    <ion-icon name="images-outline" class="activityIcon" (click)="setIconName(activity,'images-outline')"></ion-icon>
                                    <ion-icon name="language-outline" class="activityIcon" (click)="setIconName(activity,'language-outline')"></ion-icon>
                                    <ion-icon name="library-outline" class="activityIcon" (click)="setIconName(activity,'library-outline')"></ion-icon>
                                </ion-content>
                            </ng-template>
                            </ion-popover>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="2">
                            <ion-label>Gallery</ion-label> 
                        </ion-col>
                        <ion-col>
                            <ion-select interface="action-sheet" [(ngModel)]="activity.link">
                                <ion-select-option [value]="act['id']" *ngFor="let act of (galleries|async)">{{act['name']}}</ion-select-option>
                            </ion-select>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="2">
                            <ion-label>Description</ion-label> 
                        </ion-col>
                        <ion-col>
                            <ion-input [(ngModel)]="activity.description"></ion-input>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <span>
                            <ion-button color="danger" (click)="deleteActivity(activity.id,i)">Delete</ion-button>
                            <ion-button (click)="updateActivity(activity)">{{activity.id?"Update":"Save"}}</ion-button>
                        </span>
                    </ion-row>
                    <ion-row>
                        <ion-popover #roomUpdatePopOver [isOpen]="showRoomConfirmation" (didDismiss)="showRoomConfirmation = false">
                        <ng-template>
                            <ion-content class="ion-padding"> Value updated!</ion-content>
                        </ng-template>
                        </ion-popover>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
    </div>

</div>
</ion-content>
