.adminContent{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

ion-accordion-group {
    width: 100%;
}

.partnersLogo{
    min-width: 100px;
}

ion-input{
    border: solid lightgrey 1px;
    border-radius: 10px;
}


.activatedButton{
    --background:transparent;
    color: var(--ion-color-primary);
    border: solid var(--ion-color-primary) 2px;
    border-radius: 5px;
    --box-shadow:none;
}

.addButtonContainer{
    padding-bottom: 5px;
    padding-left : 1em;
}
.galleriesContainer{
    .galleryNameButton{
        min-width: 250px;
    }
}

.removeIcon{
    cursor: pointer;
    position: relative;
    bottom: 10px;
    background: white;
    border-radius: 50%;
}

.addPhotoToGalleryIcon{
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.galleryImage{
    min-width: 100px;
    min-height: 100px;
}

.parnterInputItem{
    width: 100%;
}

.assoMemberInputs, .activityInputs, .roomsInputs{
    ion-col{
        align-items: center;
        display: flex;
    }
}

.activityIcon{
    min-width: 40px;
    min-height: 40px;
    cursor: pointer;
}