<ion-content> 
<div class="scheduleContainer">

    <ion-popover #popover [isOpen]="isBanned.value">
        <ng-template>
            <ion-content class="ion-padding">{{words.banInfo}}</ion-content>
        </ng-template>
    </ion-popover>
    
    <ion-popover #popover [isOpen]="!isLogged.value">
        <ng-template>
            <ion-content class="ion-padding">{{words.visitorInfo}}</ion-content>
        </ng-template>
    </ion-popover>

    <ion-grid class="ion-no-margin">
        <ion-row class="ion-text-center">
            <ion-col>
                <ion-buttons class="ion-justify-content-center topButtons">
                    <ion-button
                        class="btn btn-primary"
                        mwlCalendarPreviousView
                        [view]="view"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()"
                    >
                        <ion-icon name="chevron-back-outline" class="hideableIcon"></ion-icon>
                        <ion-label class="hideableLabel"> {{words.previous}} </ion-label>
                    </ion-button>
                    <ion-button
                        class="btn btn-outline-secondary"
                        mwlCalendarToday
                        [(viewDate)]="viewDate"
                    >
                    <ion-icon name="home-outline" class="hideableIcon"></ion-icon>
                    <ion-label class="hideableLabel"> {{words.today}} </ion-label>
                    </ion-button>
                    <ion-button
                        class="btn btn-primary"
                        mwlCalendarNextView
                        [view]="view"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()"
                    >
                    <ion-icon name="chevron-forward-outline" class="hideableIcon"></ion-icon>
                    <ion-label class="hideableLabel"> {{words.next}} </ion-label>
                    </ion-button>
                </ion-buttons>
            </ion-col>
            <ion-col>
                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
            </ion-col>
            <ion-col>
                <ion-buttons class="ion-justify-content-center topButtons">
                    <ion-button (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                        <ion-icon src="/../../assets/icons/calendar-month.svg" class="hideableIcon"></ion-icon>
                        <ion-label class="hideableLabel"> {{words.month}} </ion-label>
                    </ion-button>
                    <ion-button (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                        <ion-icon src="/../../assets/icons/calendar-week.svg" class="hideableIcon"></ion-icon>
                        <ion-label class="hideableLabel"> {{words.week}} </ion-label>
                    </ion-button>
                    <ion-button (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                        <ion-icon src="/../../assets/icons/calendar-day.svg" class="hideableIcon"></ion-icon>
                        <ion-label class="hideableLabel"> {{words.day}} </ion-label>
                    </ion-button>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-grid>

<!-- Start Calendar -->
<div [ngSwitch]="view">
    <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        [locale]="locale"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        [weekStartsOn]="weekStartsOn"
        (eventClicked)="handleCalendarEntry('Clicked', $event.event)"
        (beforeViewRender)="beforeMonthViewRender($event)"
        (dayClicked)="dayClicked($event.day)"
        [cellTemplate]="cellTemplMonthFullText"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"    
        [locale]="locale"
        [dayStartHour]="7"
        [dayEndHour]="22"
        [weekStartsOn]="weekStartsOn"
        (beforeViewRender)="beforeWeekOrDayViewRender($event)"
        (eventClicked)="handleCalendarEntry('Clicked', $event.event)"
        (hourSegmentClicked)="hourSegmentClicked($event.date)"
        [cellTemplate]="cellTemplWeekFullText"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [dayStartHour]="7"
        [dayEndHour]="22"
        [locale]="locale"
        [events]="events"
        [refresh]="refresh"
        (beforeViewRender)="beforeWeekOrDayViewRender($event)"
        (eventClicked)="handleCalendarEntry('Clicked', $event.event)"
        (hourSegmentClicked)="hourSegmentClicked($event.date)"
    >
    </mwl-calendar-day-view>
</div>

<!-- Event commands -->
<ion-grid class="ion-no-margin">
    <ion-row class="ion-text-center">
        <ion-col>
            <h3>
                {{words.futureEvents}}
            </h3>
        </ion-col>
        <ion-col *ngIf="(isTeacher|async) || (isAdmin|async)">
            <ion-buttons class="ion-justify-content-center bottomButtons">
                <ion-button 
                    id="open-modal" 
                    fill="solid" 
                    [disabled]="(selectedDays.length == 0 && !selectedDayViewDate) || (isBanned|async)" 
                    (click)="createEvent()">{{words.createCourse}}</ion-button>
                    <!-- (click)="createEvent()">{{words.createCourse}}<span *ngIf="selectedDays.length > 1">s</span></ion-button> -->
            </ion-buttons>
        </ion-col>
    </ion-row>
</ion-grid>

<div id="eventsSecTable" class="events_grid" *ngIf="futureCourses | async as eventsList">
    <ion-grid class="eventsTable ion-no-padding">
        <ion-row>
            <ion-col (click)="sortCoursesByTitle()">
                <b>{{words.title}}</b>
            </ion-col>
            <ion-col (click)="sortCoursesByTime()">
                <b>{{words.time}}</b>
            </ion-col>
            <ion-col>
                <b>{{words.teacher}}</b>
            </ion-col>
            <ion-col size="1">
                <b>{{words.room}}</b>
            </ion-col>
            <ion-col size="1">
                <b>{{words.students}}</b>
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let event of eventsList; index as i" (click)="handleEvent(event)"
            [ngClass]="{'calendarEventBannerSubscribed' : auth.currentUser && (event['attendantsId'].includes(auth.currentUser.uid) || event['author'].id == auth.currentUser.uid)}"
        >
            <ion-col>
                {{event['title']}}
            </ion-col>
            <ion-col>
                {{event['timeStart']| date: "HH:mm dd.MM"}}
            </ion-col>
            <ion-col>
                {{event['author']?.l_name}} {{event['author']?.f_name}}
            </ion-col>
            <ion-col size="1">
                <ion-text class="participantsCounter">
                    {{event['room'].name}}
                </ion-text>
            </ion-col>
            <ion-col size="1">
                <div *ngIf="event['attendantsId']">
                <ion-text class="participantsCounter">
                    {{event['attendantsId'].length}}/{{event['max_participants']}}
                </ion-text>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>

</div>
</ion-content>


<ng-template
    #cellTemplMonthFullText
    let-day="day"
    let-locale="locale"
    let-eventClicked="eventClicked"
    
    >
    <div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 3"
        >{{ day.badgeTotal }}</span
        >
    <span class="cal-day-number">{{
        day.date | calendarDate: 'monthViewDayNumber':locale
    }}</span>
    </div>
    <div class="cal-events" *ngIf="day.events.length > 0">
        <!-- {{day.events|json}} -->
        <!-- To limit the number of events displayed -->
        <span *ngFor="let evt of day.events.slice(0,3)"
        class="calendarEventBanner"
        [ngClass]="auth.currentUser && (evt.meta.attendantsId.includes(auth.currentUser.uid) || evt.meta.author.id == auth.currentUser.uid ) ? 'calendarEventBannerSubscribed' : 'calendarEventBannerUnsubscribed'"
        (mwlClick)="eventClicked.emit({ event: evt })"
        >
            <b>{{evt.title}}</b> at {{evt.start|date:"HH:mm"}}
            <!-- <b>{{evt.title}}</b> by <b>{{evt.meta.author.f_name}} {{evt.meta.author.l_name}}</b> at {{evt.start|date:"HH:mm"}} -->
        </span>
    </div>
</ng-template>

<ng-template
    #cellTemplWeekFullText
    let-day="day"
    let-openDay="openDay"
    let-locale="locale"
    >
    <div>
        {{day|json}}
    </div>
</ng-template>
