<ion-content> 
<div class="scheduleContainer">

    <ion-popover #popover [isOpen]="isBanned.value">
        <ng-template>
            <ion-content class="ion-padding">You have been banned, and hence cannot participate</ion-content>
        </ng-template>
    </ion-popover>

    <ion-grid class="ion-no-margin">
        <ion-row class="ion-text-center">
            <ion-col>
                <ion-buttons class="ion-justify-content-center topButtons">
                    <ion-button
                        class="btn btn-primary"
                        mwlCalendarPreviousView
                        [view]="view"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()"
                    >
                        <ion-icon name="chevron-back-outline" class="hideableIcon"></ion-icon>
                        <ion-label class="hideableLabel"> Previous </ion-label>
                    </ion-button>
                    <ion-button
                        class="btn btn-outline-secondary"
                        mwlCalendarToday
                        [(viewDate)]="viewDate"
                    >
                    <ion-icon name="home-outline" class="hideableIcon"></ion-icon>
                    <ion-label class="hideableLabel"> Today </ion-label>
                    </ion-button>
                    <ion-button
                        class="btn btn-primary"
                        mwlCalendarNextView
                        [view]="view"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()"
                    >
                    <ion-icon name="chevron-forward-outline" class="hideableIcon"></ion-icon>
                    <ion-label class="hideableLabel"> Next </ion-label>
                    </ion-button>
                </ion-buttons>
            </ion-col>
            <ion-col>
                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                <!-- <h3>{{ viewDate | date:"dd.MM.YY" }}</h3> -->
            </ion-col>
            <ion-col>
                <ion-buttons class="ion-justify-content-center topButtons">
                    <ion-button (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                        <ng-container *ngIf="view === CalendarView.Month;else normalMonth">
                            <ion-img src="../../assets/icons/calendar-month-contrast.png" class="hideableIcon"> </ion-img>                        
                        </ng-container>
                        <ng-template #normalMonth>
                            <ion-img src="../../assets/icons/calendar-month.png" class="hideableIcon"> </ion-img>                        
                        </ng-template>
                        <ion-label class="hideableLabel"> Month </ion-label>
                    </ion-button>
                    <ion-button (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                        <ng-container *ngIf="view === CalendarView.Week;else normalWeek">
                            <ion-img src="../../assets/icons/calendar-week-contrast.png" class="hideableIcon"> </ion-img> 
                        </ng-container>
                        <ng-template #normalWeek>
                            <ion-img src="../../assets/icons/calendar-week.png" class="hideableIcon"> </ion-img> 
                        </ng-template>
                        <ion-label class="hideableLabel"> Week </ion-label>
                    </ion-button>
                    <ion-button (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                        <ng-container *ngIf="view === CalendarView.Day; else normalDay">
                            <ion-img  src="../../assets/icons/calendar-day-contrast.png" class="hideableIcon"> </ion-img>
                        </ng-container>
                        <ng-template #normalDay>
                            <ion-img  src="../../assets/icons/calendar-day.png" class="hideableIcon"> </ion-img>
                        </ng-template>
                        <ion-label class="hideableLabel"> Day </ion-label>
                    </ion-button>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-grid>

<!-- Start Calendar -->
<div [ngSwitch]="view">
    <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        [weekStartsOn]="weekStartsOn"
        (eventClicked)="handleCalendarEntry('Clicked', $event.event)"
        (beforeViewRender)="beforeMonthViewRender($event)"
        (dayClicked)="dayClicked($event.day)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [dayStartHour]="7"
        [dayEndHour]="22"
        [weekStartsOn]="weekStartsOn"
        (beforeViewRender)="beforeWeekOrDayViewRender($event)"
        (eventClicked)="handleCalendarEntry('Clicked', $event.event)"
        (hourSegmentClicked)="hourSegmentClicked($event.date)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [dayStartHour]="7"
        [dayEndHour]="22"
        [events]="events"
        [refresh]="refresh"
        (beforeViewRender)="beforeWeekOrDayViewRender($event)"
        (eventClicked)="handleCalendarEntry('Clicked', $event.event)"
        (hourSegmentClicked)="hourSegmentClicked($event.date)"
    >
    </mwl-calendar-day-view>
</div>

<!-- Event commands -->
<ion-grid class="ion-no-margin">
    <ion-row class="ion-text-center">
        <ion-col>
            <h3>
                Future events
            </h3>
        </ion-col>
        <ion-col *ngIf="(isTeacher|async) || (isAdmin|async)">
            <ion-buttons class="ion-justify-content-center bottomButtons">
                <!-- <ion-button id="open-modal" (click)="createEvent()">Create course</ion-button> -->
                <ion-button 
                    id="open-modal" 
                    fill="solid" 
                    [disabled]="(selectedDays.length == 0) || (isBanned|async)" 
                    (click)="createEvent()">Create course<span *ngIf="selectedDays.length > 1">s</span></ion-button>
            </ion-buttons>
        </ion-col>
    </ion-row>
</ion-grid>

<div id="eventsSecTable" class="events_grid" *ngIf="futureCourses | async as eventsList">
    <ion-grid class="eventsTable ion-no-padding">
        <ion-row>
            <ion-col (click)="sortCoursesByTitle()">
                <b>Title</b>
            </ion-col>
            <ion-col (click)="sortCoursesByTime()">
                <b>Time</b>
            </ion-col>
            <ion-col>
                <b>Teacher</b>
            </ion-col>
            <ion-col size="1">
                <b>Room</b>
            </ion-col>
            <ion-col size="1">
                <b>Students</b>
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let event of eventsList; index as i" (click)="handleEvent(event)">
            <ion-col>
                {{event['title']}}
            </ion-col>
            <ion-col>
                {{event['timeStart']| date: "HH:mm dd.MM"}}
            </ion-col>
            <ion-col>
                {{event['author']?.l_name}} {{event['author']?.f_name}}
            </ion-col>
            <ion-col size="1">
                <ion-text class="participantsCounter">
                    {{event['room'].name}}
                </ion-text>
            </ion-col>
            <ion-col size="1">
                <div *ngIf="event['attendantsId']">
                <ion-text class="participantsCounter">
                    ({{event['attendantsId'].length}}/{{event['max_participants']}})
                </ion-text>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>

</div>
</ion-content>


<!-- [cellTemplate]="customCellTemplate" -->


<!-- <ng-template #customCellTemplate let-day="day">
    <div class="cal-cell-top">
        <span class="cal-day-badge bg-{{day.dayPoints[0].meta.value >= 2 ? 'success' : 'warning'}}"
              *ngIf="day.dayPoints.length">
            {{ day.dayPoints[0].meta.value }}
        </span>
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber' }}</span>
        <div class="cal-day-notes" *ngIf="day.dayPoints.length" [ngbPopover]="day.dayPoints[0].meta.notes">
            {{day.dayPoints[0].meta.notes}}
        </div>
    </div>
</ng-template> -->

<ng-template #customCellTemplate let-day="day"
             let-openDay="openDay"
             let-locale="locale"
             let-tooltipPlacement="tooltipPlacement"
             let-highlightDay="highlightDay"
             let-unhighlightDay="unhighlightDay"
             let-eventClicked="eventClicked"
             let-tooltipTemplate="tooltipTemplate"
             let-tooltipAppendToBody="tooltipAppendToBody">
    <div class="cal-cell-top">
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
        <!-- <div class="cal-day-notes" *ngIf="day.dayPoints.length">
            {{day.dayPoints[0].meta.notes}}
        </div> -->
    </div>
    <div class="cal-events" *ngIf="day.events.length > 0">
        <div class="cal-event"
            *ngFor="let event of day.events"
            [ngClass]="event?.cssClass"
            (mouseenter)="highlightDay.emit({event: event})"
            (mouseleave)="unhighlightDay.emit({event: event})"
            [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event"
            [tooltipPlacement]="tooltipPlacement"
            [tooltipEvent]="event"
            [tooltipTemplate]="customToolTipTemplate"
            [tooltipAppendToBody]="tooltipAppendToBody">
        </div>
    </div>
</ng-template>

<ng-template #customToolTipTemplate>
    <span>salut</span>
</ng-template>

<!-- <ng-template #customCellTemplate let-day="day"
             let-openDay="openDay"
             let-locale="locale"
             let-tooltipPlacement="tooltipPlacement"
             let-highlightDay="highlightDay"
             let-unhighlightDay="unhighlightDay"
             let-eventClicked="eventClicked"
             let-tooltipTemplate="tooltipTemplate"
             let-tooltipAppendToBody="tooltipAppendToBody">
    <div class="cal-cell-top">
        <span class="cal-day-badge bg-{{day.dayPoints[0].meta.value >= 2 ? 'success' : 'warning'}}"
              *ngIf="day.dayPoints.length">
            {{ day.dayPoints[0].meta.value }}
        </span>
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
        <div class="cal-day-notes" *ngIf="day.dayPoints.length" [ngbPopover]="day.dayPoints[0].meta.notes">
            {{day.dayPoints[0].meta.notes}}
        </div>
    </div>
    <div class="cal-events" *ngIf="day.events.length > 0">
        <div class="cal-event"
            *ngFor="let event of day.events"
            [style.backgroundColor]="event.color.primary"
            [ngClass]="event?.cssClass"
            (mouseenter)="highlightDay.emit({event: event})"
            (mouseleave)="unhighlightDay.emit({event: event})"
            [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event"
            [tooltipPlacement]="tooltipPlacement"
            [tooltipEvent]="event"
            [tooltipTemplate]="tooltipTemplate"
            [tooltipAppendToBody]="tooltipAppendToBody">
        </div>
    </div>
</ng-template> -->