h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.events_grid ion-col{
  border:solid 1px lightgrey;
}

@media only screen and (min-width: 1100px) {
  .scheduleContainer{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }
}

.participantsCounter{
  display: flex; 
  justify-content: center;
  overflow-wrap: anywhere;
}

.eventsTable :hover{
  background-color: rgb(230, 235, 236);
  cursor:pointer;
}

.topButtons ion-button{
  color: var(--ion-color-primary);
  border: solid var(--ion-color-primary) 2px;
  border-radius: 5px;
  min-width: 25px;
  &.active{
    background-color: var(--ion-color-primary);
    color:white;
  }
}
ion-button{
  border-radius: 5px;
}

.calendarEventBannerUnsubscribed{
  background-color : var(--ion-color-primary);
  color : var(--ion-color-primary-contrast);
}

.calendarEventBannerSubscribed{
  background-color : var(--ion-color-success);
  // color : var(--ion-color-success-contrast);
  color : var(--ion-color-primary-contrast);
}

.calendarEventBanner{
  padding: 2px;
  margin-bottom: 1px;
  border-radius: 3px;
  line-height: 1.05;
}

.subscribedBadge{
  border-radius: 50%;
}

.cal-cell-top {
  min-height: 20px;
}