<ion-content>
    <ion-title>
        <h1>{{assoEvent['name']}}</h1>
    </ion-title>
    <ion-item lines="none">
        <b>{{assoEvent['location']}} </b> <i>- {{assoEvent['timeStart']}}</i>
    </ion-item>
    
    <ion-item *ngIf="assoEvent['leafletLink']">
        <img [src]="assoEvent['leafletLink']"/>
    </ion-item>

    <ion-item *ngIf="assoEvent['galleryId'] as gallId">
        <ion-button (click)="goToGallery(gallId)">Gallery</ion-button>
    </ion-item>
    
</ion-content>
<!-- 
    galleryId!:string;
  leafletLink!:string;
  name!:string;
  participants!:string[];
  timeEnd!:string;
  timeStart!:string; -->