<ion-content>
<div class="gallery-container">
    
    <div class="swiper-container">
    <swiper
        #swiper
        [config]="config"
        class="banner-slides"
        >
        <ng-template swiperSlide *ngFor="let img of images">
            <img src="/assets/images/{{img}}"/>
        </ng-template>

    </swiper>
    </div>

    <ion-button (click)="slidePrev()">Prev slide</ion-button>
    <ion-button (click)="slideNext()">Next slide</ion-button>

</div>

<div class="photoGallery">
    <ion-grid>
        <ion-row>
            <ion-thumbnail *ngFor="let img of images; let i = index" (click)="selectImage(i+1)">
                <img src="/assets/images/{{img}}"/>
            </ion-thumbnail>
        </ion-row>
    </ion-grid>
</div>

</ion-content>
