<ion-content>
<div class="gallery-container">
    
    <div class="swiper-container">
    <swiper
        #swiper
        [config]="config"
        class="banner-slides"
        >
        <ng-template swiperSlide>
            <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
        </ng-template>
        <ng-template swiperSlide>
            <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
        </ng-template>
        <ng-template swiperSlide>
            <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
        </ng-template>
        <ng-template swiperSlide>
            <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
        </ng-template>

    </swiper>
    </div>

    <ion-button (click)="slidePrev()">Prev slide</ion-button>
    <ion-button (click)="slideNext()">Next slide</ion-button>

</div>

</ion-content>
