.swiper {
  width: 600px;
  height: 400px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.gallery-container{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.swiper-container{
  padding-top: 20px;
  padding-bottom: 20px;
}

.photoGallery{

  ion-thumbnail{
    margin:5px;
    --size:100px;
    opacity: 0.8;
    cursor: pointer;
  }
  ion-thumbnail:hover{
    opacity: 1;
  }
  ion-grid *{
    display: flex;
    justify-content: center;
  }
}

.imgFolders{
  ion-col{
    justify-content: center;
    display: flex;
  }
  ion-label{
    justify-content: center;
    display: flex !important;
  }
  ion-item,ion-thumbnail{
    cursor: pointer;
    min-width: 120px;
    min-height: 120px;
    
  }
  ion-item{
    border-radius: 10px;
    --color : var(--ion-color-primary);
  }
  ion-icon {
    color: var(--ion-color-primary);
    min-height: 100px;
    min-width: 100px;
    display: flex;
    margin: auto;
  }

  // ion-icon:hover,ion-label:hover{
  //   color : var(--ion-color-primary-shade)
  // }
  ion-item:hover{
    // background-color: var(--ion-color-primary);
    --background : var(--ion-color-primary);
    color : white;
    ion-icon,ion-label{
      color: white;
    }
  }
}