<ion-content class="ion-padding" (keydown.enter)="confirm()">
    <form (ngSubmit)="confirm()" #evtCreation="ngForm">
    <ion-item>
        <ion-label>Enter title :</ion-label>
        <ion-input type="text" placeholder="Course title" name="title" required [(ngModel)]="title"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Room :</ion-label>
        <ion-select interface="popover" placeholder="Select room" name="room_id" required [(ngModel)]="room_id" (ionChange)="updateRoom($event)">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item class="hours">
        <ion-label>Time :</ion-label>
        <ion-select interface="popover" aria-label="hour" placeholder="Select hour" [value]="defaultHour" (ionChange)="updateStartingHour($event)">
            <ion-select-option *ngFor="let number of [6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22]" [value]="number">{{number}}</ion-select-option>
        </ion-select>
        <ion-select interface="popover" aria-label="minute" placeholder="Select minute" [value]="defaultMinute" (ionChange)="updateStartingMinute($event)">
            <ion-select-option *ngFor="let number of [0,15,30,45]" [value]="number">{{number}}</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Duration :</ion-label>
        <ion-input type="number" value="1" required name="duration" [(ngModel)]="duration" (ionChange)="updateDuration($event)"></ion-input>
        <ion-select interface="popover" name="durationUnit" [(ngModel)]="durationUnit">
            <ion-select-option value="hour" (ionChange)="updateDurationUnit($event)">hours</ion-select-option>
            <ion-select-option value="minute">minutes</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item *ngIf="selectedDays && selectedDays.length > 1">
        <ion-label>Days : </ion-label>
        <ion-item *ngFor="let day of selectedDays; let index = index" lines="none">
            {{day['date']|date : "dd.MM.YY"}} 
            <ion-icon color="danger" name="close-circle-outline" (click)="removeDay(index)">
            </ion-icon>
        </ion-item>
    </ion-item> 

    <ion-item>
        <ion-label>Max participants :</ion-label>
        <ion-input type="number" placeholder="00" name="max_participants" required [(ngModel)]="max_participants"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Description :</ion-label>
        <ion-textarea [(ngModel)]="description" [autoGrow]="true" required name="descr"> </ion-textarea>
    </ion-item>

    <!-- <div *ngIf="collisionEvents && collisionEvents.length > 0; else multi">
        <ion-label>Courses at the same time : </ion-label>
        <ion-list>
            <ion-item *ngFor="let evt of collisionEvents; let i = index">
                <ion-label *ngIf="i == collisionIndex ;else normal" color="danger">
                    <h2>{{evt['title']}}</h2>
                    <p>Room : {{evt['room_id']}}</p>
                    <p>From {{evt['timeStart']| date: "HH:mm"}} to {{evt['timeEnd']| date: "HH:mm"}}</p>
                </ion-label>
                <ng-template #normal>
                <ion-label>
                    <h2>{{evt['title']}}</h2>
                    <p>Room : {{evt['room_id']}}</p>
                    <p>From {{evt['timeStart']| date: "HH:mm"}} to {{evt['timeEnd']| date: "HH:mm"}}</p>
                </ion-label>
                </ng-template>
            </ion-item>
        </ion-list>
    </div> -->

    <!-- <ng-template #multi> -->
    <!-- <div *ngIf="multiCollisions"> -->
    <div *ngIf="multiCollisions">
        <ion-label>Collisions per day : </ion-label>
        <ion-list *ngFor="let day of multiCollisions; let dayIndex = index">
            <!-- <ion-text>size : {{day.size |async}}</ion-text> -->
            <!-- <ion-item *ngIf="day.size |async"> -->
            <ion-item>
                <ion-label>
                    {{day.date|date:"dd.MM.YY"}}
                    <!-- <ion-icon color="danger" name="close-circle-outline" (click)="removeDay(i)"> </ion-icon> -->
                </ion-label>
                <ion-list>
                    <!-- <ion-item lines="none" *ngFor="let coll of (day.collision|async)"> {{coll['title']}} from {{coll['timeStart']|date:"HH:mm"}} to {{coll['timeEnd']|date:"HH:mm"}} in room {{coll['room_id']}}</ion-item> -->
                    <ion-item lines="none" *ngFor="let coll of (day.collisions); let collisionIndex = index"> 
                        <ion-text *ngIf="collisionIndexes[dayIndex] == collisionIndex; else normal" color="danger">
                            {{coll['title']}} from {{coll['timeStart']|date:"HH:mm"}} to {{coll['timeEnd']|date:"HH:mm"}} in room {{coll['room_id']}}
                        </ion-text>
                        <ng-template #normal>
                            <ion-text>
                                {{coll['title']}} from {{coll['timeStart']|date:"HH:mm"}} to {{coll['timeEnd']|date:"HH:mm"}} in room {{coll['room_id']}}
                            </ion-text>
                        </ng-template>
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
    </div>
    <!-- </ng-template> -->
            <!-- {{day.collision|async|json}} -->
            
            <!-- <ng-template *ngIf="(day.collision | async) as collisionsList">
                <ion-label>
                    {{day.day.date|date:"dd.MM.YY"}} 
                    <ion-icon color="danger" name="close-circle-outline" (click)="removeDay(i)">
                    </ion-icon>
                </ion-label>
                <ion-list>
                    <ion-item lines="none" *ngFor="let coll of collisionsList"> {{coll['title']}} from {{coll['timeStart']|date:"HH:mm"}} to {{coll['timeEnd']|date:"HH:mm"}} in room {{coll['room_id']}}</ion-item>
                </ion-list>
            </ng-template> -->


            <!-- <ion-item *ngFor="let evt of collisions; let i = index">
                <ion-label *ngIf="i == collisionIndex ;else normal" color="danger">
                    <h2>{{evt['title']}}</h2>
                    <p>Room : {{evt['room_id']}}</p>
                    <p>From {{evt['timeStart']| date: "HH:mm"}} to {{evt['timeEnd']| date: "HH:mm"}}</p>
                </ion-label>
                <ng-template #normal>
                <ion-label>
                    <h2>{{evt['title']}}</h2>
                    <p>Room : {{evt['room_id']}}</p>
                    <p>From {{evt['timeStart']| date: "HH:mm"}} to {{evt['timeEnd']| date: "HH:mm"}}</p>
                </ion-label>
                </ng-template>
            </ion-item> -->

        <!-- </ion-list>
    </div>
    </ng-template> -->
    
    </form>
</ion-content>


<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
        <!-- <ion-button (click)="confirm()" [strong]="true" [disabled]="!isValid.value">Confirm</ion-button> -->
        <!-- <ion-button (click)="confirm()" [strong]="true" type="submit" [disabled]="!isValid.value && !evtCreation.valid">Confirm</ion-button> -->
        <ion-button (click)="confirm()" [strong]="true" [disabled]="!isValid.value || !evtCreation.valid">Confirm</ion-button>
        <!-- <ion-button (click)="evtCreation.ngSubmit.emit()" [strong]="true" [disabled]="!isValid.value && !evtCreation.valid">Confirm</ion-button> -->
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
