
<ion-header>
    <ion-toolbar>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="dataObs |async as currentEvent">
    <p *ngIf="creator">
        <ion-text>Author : {{creator.f_name}} {{creator.l_name}}</ion-text>
    </p>
    <p>
        <ion-text>DataObs : {{dataObs |async |json}}</ion-text>
    </p>
    <p>
        <ion-text>Time : {{currentEvent['eventDate'] | date: "HH:mm d MMM, yy"}}</ion-text>
    </p>
    <p>
        <ion-text>Room : {{meta.room_id}}</ion-text>
    </p>
    <ion-item lines="none">
        <ion-checkbox slot="start" [(ngModel)]="isAttending" (ionChange)="statusChanged($event)"></ion-checkbox>
        <ion-label>Participate</ion-label>
    </ion-item>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
    <ion-buttons slot="end">
        <ion-button (click)="confirm()" [strong]="true">Close</ion-button>
    </ion-buttons>
    </ion-toolbar>
</ion-footer>
