
<ion-header>
    <ion-toolbar>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content (keydown.enter)="confirm()">
    <div *ngIf="dataObs |async as currentEvent">
    <ion-item *ngIf="creator">
        <ion-text>Author : {{creator['f_name']}} {{creator['l_name']}}</ion-text>
    </ion-item>
    <ion-item>
        <ion-text>From {{currentEvent['timeStart'] | date: "HH:mm dd,MMM"}} to {{currentEvent['timeEnd'] | date: "HH:mm"}}</ion-text>
    </ion-item>
    <ion-item>
        <ion-text>Room : {{meta.room_id}}</ion-text>
    </ion-item>
    <ion-item>
        <ion-text>Description : {{currentEvent['description']}}</ion-text>
    </ion-item>
    <ion-item>
        <ion-text>Participants : {{currentEvent['attendantsId'].length}}/{{currentEvent['max_participants']}}</ion-text>
    </ion-item>
    <ion-item lines="none">
        <ion-checkbox slot="start" [(ngModel)]="isAttending" [disabled]="isSubscribtionBlocked"></ion-checkbox>
        <ion-label>Participate</ion-label>
    </ion-item>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
    <ion-buttons slot="end">
        <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
        <ion-button (click)="cancel()" [strong]="true">Cancel</ion-button>
    </ion-buttons>
    </ion-toolbar>
</ion-footer>
