.aboutContainer{
    margin-left:5%;
    margin-right:5%;
}

ion-thumbnail {
    --size: 200px;
    --border-radius: 50%;
}

.memberCard{
    opacity: 0.8;
    margin:5px;
    border-radius: 10px;
    ion-label{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a{
        text-decoration: none;
    }
}
.memberCard:hover{
    opacity: 1;
    background-color: lightblue;
}