<ion-content *ngIf="(words$|async).about as words" #aboutIonContent id="aboutIonContent" [scrollEvents]="true" (ionScroll)="onScroll($event)">
    <div class="topImage aboutTopImage" id="anchor_about" #anchor_>
        <div class="topElements">
            <h1>
                {{words.aboutTitle}}
            </h1>
            <br />
        </div>
        <div class="topElements2">
            <a href="mailto:ukrainereborn.ch@gmail.com" target="_newtab">
                <ion-button>{{words.contactUs}}</ion-button>
            </a>
        </div>
    </div>

    <div class="aboutContainer">
        <div class="firstPart">
            <div class="partContent">
                <h2>
                    {{words.assoTitle}}
                </h2>
                <p>
                    {{words.assoDescription[0]}}
                </p>
                <p>
                    {{words.assoDescription[1]}}
                </p>
                <p>
                    {{words.assoDescription[2]}}
                </p>
            </div>
        </div>

        <div class="firstPart">
            <div class="partContent">
                <h2>
                    {{words.missionTitle}}
                </h2>
                <p>
                    {{words.missionDescription}}
                </p>
            </div>
        </div>

        <!-- Activities Section -->
        <div class="activitiesPart" id="anchor_activities" #anchor_>
            <div class="partContent">
                <h2>{{words.activitiesTitle}}</h2>
                <ion-grid>
                    <ion-row>
                        <ion-col *ngFor="let activity of activities|async" class="activityCol">
                            <ion-card button="true" (click)="goToGallery(activity.link)" class="activityItem">
                                <ion-icon [name]="activity.iconName"></ion-icon>
                                <ion-card-header><ion-title class="ion-no-padding">{{activity.title}}</ion-title></ion-card-header>
                                <ion-card-content>{{activity.description}}</ion-card-content>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>

        <div class="filledPart donateBanner" (click)="scrollTo('donate')">
            <div class="partContent">
                <h2>{{words.supportBanner}}</h2>
            </div>
        </div>

        <!-- Members Section -->
        <div class="membersPart">
            <div class="partContent">
                <h2>
                    {{words.teamTitle}}
                </h2>
                {{words.teamDescription}}
                <ul>
                    <li>
                        {{words.teamQualities[0]}}
                    </li>
                    <li>
                        {{words.teamQualities[1]}}
                    </li>
                    <li>
                        {{words.teamQualities[2]}}
                    </li>
                </ul>

                <ion-grid>
                    <ion-row>
                        <ion-col *ngFor="let member of members">
                            <div class="memberCard">
                                <a *ngIf="member.link; else withoutLink" href="{{member.link}}">
                                <ion-thumbnail>
                                    <!-- TODO load default image if null -->
                                    <img src="{{member.photo}}"/>
                                </ion-thumbnail>
                        
                                <ion-label>{{member.name}} </ion-label>
                                <ion-label>{{member.role}}</ion-label>
                                </a>
                                <ng-template #withoutLink>
                                    <ion-thumbnail>
                                        <img src="{{member.photo}}"/>
                                    </ion-thumbnail>
                            
                                    <ion-label>{{member.name}} </ion-label>
                                    <ion-label>{{member.role}}</ion-label>
                                </ng-template>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>

        <!-- Partners Section -->
        <div class="partnersSection" id="anchor_partners" #anchor_>
            <div class="partnersContent">
                <h2>{{words.partners}}</h2>
                <ion-grid>
                    <ion-row class="ion-align-items-center">
                        <ion-col *ngFor="let partner of partners_addresses">
                            <div class="partnerCard">
                                <ion-button href={{partner.link}} fill="clear" class="ion-no-padding">
                                    <img src="{{partner.logoName}}"/>
                                </ion-button>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>

        <!-- Contact Section -->
        <div class="filledPart" id="anchor_contact" #anchor_>
            <div class="partContent">
                <h2>{{words.contactUs}}</h2>
            </div>
        </div>
        <div class="contactPageContainer">
            <div class="partContent">
                <ion-text>
                    <p>
                        {{words.contactDescription}}
                    </p>
                    <p>
                        <a href="mailto: ukrainereborn.ch@gmail.com">ukrainereborn.ch@gmail.com</a>
                    </p>
                    <p>
                        Tel : + 41 79 947 07 59
                    </p>
                    <p>
                        Tel : + 41 76 247 19 85
                    </p>
                </ion-text>
        
                <ion-button fill="clear" href="https://www.facebook.com/ukraine.reborn.ch">
                    <ion-icon name="logo-facebook" size="large"></ion-icon>
                </ion-button>
                <ion-button fill="clear" href="https://t.me/ukraine_reborn">
                    <ion-icon src="https://upload.wikimedia.org/wikipedia/commons/8/82/Telegram_logo.svg" size="large"></ion-icon>
                </ion-button>
                <ion-button fill="clear" href="https://instagram.com/ukraine_reborn.ch?igshid=MzRlODBiNWFlZA==">
                    <ion-icon name="logo-instagram" size="large"></ion-icon>
                </ion-button>
            </div>
        </div>

        <!-- Donate Section -->
        <div class="donatePart" id="anchor_donate" #anchor_>
            <div class="partContent">
                <h1>{{words.donateTitle}}</h1>
                <p>
                    {{words.donateDescription}}
                </p>
                <p>
                    IBAN: CH05 0900 0000 1592 7366 8
                </p>
                <p>
                    BIC: POFICHBEXXX
                </p>
                <p>
                    {{words.beneficiaryTitle}} : Ukraine Reborn, 1290 Versoix, Switzerland
                </p>
        
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-button href="https://www.paypal.com/donate/?hosted_button_id=R8KN2HWSJ3F9E" fill="clear" class="paypalButton">
                                <!-- <img src="~/../assets/logos/paypal.png" style="height:100%"/> -->
                            </ion-button>
                        </ion-col>
                        <ion-col>
                            <img title="twint" src="https://www.ukraine-reborn.ch/wp-content/uploads/2022/06/Screenshot-2022-06-16-230913.jpg" style="max-height: 200px;">
                        </ion-col>
                    </ion-row>
                </ion-grid>
            
                <ion-text>
                    <p class="donateText">
                        {{words.donateMoreInfo}} <a href="mailto: UkraineRebornDonations@gmail.com">{{words.email}}</a>.
                    </p>
                </ion-text>
            </div>
        </div>

        <div class="authorsSection">
            <div class="authorsInfos">
                Website : <a href="https://www.linkedin.com/in/gabriel-maret-57327bbb/">Gabriel Maret</a>
            </div>
            <div class="authorsInfos">
                Design : Ninel Omelianenko
            </div>
        </div>
            
    </div>
</ion-content>