<ion-content>
    <div class="topImage">
        <h1>
            Created with love and care for Ukraine in Switzerland
        </h1>
        <ion-button>Contact us</ion-button>
    </div>

    <div class="aboutContainer">

    <div class="firstPart">
        <div class="partContent">
            <ion-title>
                <h2>
                    Ukraine Reborn association
                </h2>
            </ion-title>
            <ion-text>
                <p>
                    We are an Independent Humanitarian Support Association that has started from a little collection point in Swiss Romande in the first week of war in Ukraine.  
                </p>
                <p>
                    In just 3 weeks we have been able to collect more then 1000 boxes of humanitarian help that was sent to Ukraine and helped over 20 families  fleeing to Switzerland. 
                </p>
                <p>
                    We have seen and personally were touched by how stressed and lost refugees are,  and how our small actions are making a big difference. Now, we are elevating our efforts uniting with our allies for the good cause. 
                </p>
            </ion-text>
        </div>
    </div>

    <div class="firstPart">
        <div class="partContent">
            <ion-title>
                <h2>
                    Our mission
                </h2>
            </ion-title>
            <ion-text>
                <p>
                    We believe that everyone has a right to live in freedom and safety. That’s why we are on a mission to help Ukrainian refuges that have fled to Switzerland  restarting their lives and making the integration process as smooth as possible. Our primary focus is on most vulnerable population women and kids.
                </p>
            </ion-text>
        </div>
    </div>

    <div class="activitiesPart">
        <div class="partContent">
            <ion-grid>
                <ion-row>
                    <ion-col>

                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>

    <div class="filledPart">
        <div class="partContent">
            <ion-title>
                <h2>Want to support us ?</h2>
            </ion-title>
        </div>
    </div>

    <div class="membersPart">
        <div class="partContent">
            <h2>
                Our Team
            </h2>
            Agile team of experienced professionals with:
            <ul>
                <li>
                    Deep understanding of Ukrainian mentality and refugees integration needs in Switzerland
                </li>
                <li>
                    Proven experience in managing complex projects at the global scale, including education
                </li>
                <li>
                    Know-how in mobilizing people through social to create a movement and impact at scale
                </li>
            </ul>

            <ion-grid>
                <ion-row>
                    <div class="memberCard" *ngFor="let member of members">
                        <a *ngIf="member.link; else withoutLink" href="{{member.link}}">
                        <ion-thumbnail>
                            <img src="{{'/assets/members/'+member.photo}}"/>
                        </ion-thumbnail>
                
                        <ion-label>{{member.name}} </ion-label>
                        <ion-label>{{member.role}}</ion-label>
                        </a>
                        <ng-template #withoutLink>
                            <ion-thumbnail>
                                <img src="{{'/assets/members/'+member.photo}}"/>
                            </ion-thumbnail>
                    
                            <ion-label>{{member.name}} </ion-label>
                            <ion-label>{{member.role}}</ion-label>
                        </ng-template>

                    </div>
                </ion-row>
            </ion-grid>
        </div>
    </div>


    <div class="partnersSection" id="partners">
        <h2>Partners</h2>
        <ion-button *ngFor="let partner of partners" href={{partner.link}} fill="clear">
            <img src="{{'~/../assets/partners/' + partner.logoName}}"/>
        </ion-button>
    </div>
    <!-- <app-partnerspage></app-partnerspage> -->
        
    </div>
</ion-content>