<ion-content>
    <ion-list lines="none">
        <ion-list-header>
            <ion-label>News</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-card>
                <ion-card-header>
                  <ion-card-title>Article 1</ion-card-title>
                  <ion-card-subtitle>Author</ion-card-subtitle>
                  <ion-card-subtitle>Date</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                  Here's a small text description for the card content. Nothing more, nothing less.
                </ion-card-content>
              </ion-card>
          </ion-item>

          <ion-item>
            <ion-card>
                <ion-card-header>
                  <ion-card-title>Article 2</ion-card-title>
                  <ion-card-subtitle>Author</ion-card-subtitle>
                  <ion-card-subtitle>Date</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                  Here's a small text description for the card content. Nothing more, nothing less.
                </ion-card-content>
              </ion-card>
          </ion-item>


    </ion-list>

</ion-content>