<ng-container *ngIf="(words$|async).account as words" (keydown.enter)="confirm()">
    <ion-header>
        <ion-toolbar>
            <ion-title>{{words.addChild}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content (keydown.enter)="confirm()">
        <form (ngSubmit)="confirm()" [formGroup]="profileForm">
            <ion-list>
                <ion-item>
                    <ion-label position="floating">{{words.firstName}}</ion-label>
                    <ion-input formControlName="f_name" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">{{words.lastName}}</ion-label>
                    <ion-input formControlName="l_name" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">{{words.birthday}}</ion-label>
                    <ion-input formControlName="birthday" required (ionInput)="onInput($event)"></ion-input>
                </ion-item>
            </ion-list>
        </form>
    </ion-content>

    <ion-footer>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-button expand="block" (click)="cancel()">{{words.cancel}}</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button expand="block" (click)="confirm()">{{words.confirm}}</ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-footer>
</ng-container>
  