/* You can add global styles to this file, and also import other style files */
// @import '~swiper/swiper.scss';
@import '~swiper/swiper.min.css';

.accountItems{
    justify-content: center;
    display: flex;
}

.cal-day-selected, .cal-day-selected:hover {
    background-color: rgb(179, 179, 179);
}