<ion-content>
    <div class="accountItems">
        <ion-list>
            <form [formGroup]="profileForm" (ngSubmit)="update()" >
        <!-- <ion-list *ngIf="userObs | async as user">
                <ion-text>{{user | json}}</ion-text> -->
                <ion-item>
                    <ion-label>Email :</ion-label>
                    <ion-input formControlName="email" placeholder="name@domain.com" type="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>First name :</ion-label>
                    <ion-input formControlName="f_name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Last name :</ion-label>
                    <ion-input formControlName="l_name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Phone number :</ion-label>
                    <ion-input formControlName="phone" placeholder="+41 88 888 88 88"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Birthdate :</ion-label>
                    <ion-input formControlName="birthday" placeholder="12.12.2000"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Address :</ion-label>
                    <ion-input formControlName="address"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>S Permit :</ion-label>
                    <ion-input formControlName="s_permit_number" placeholder="XX8888888"></ion-input>
                </ion-item>

                <div class="accountItems">
                    <ion-button (click)="cancel()">Reload</ion-button>
                    <ion-button (click)="update()">Update</ion-button>
                </div>
                <div class = "accountItems">
                    <ion-button (click)="logout()">Logout</ion-button>
                </div>

            </form>
        </ion-list>
    </div>
</ion-content>