.createItems{
    display: flex;
    justify-content: center;
    align-items: center;
}

// :host{
//     .ng-valid{
//         border:0px;
//     }
//     form .ng-invalid{
//         border:1px solid red;
//         border-radius: 3px;
//     }
//     .ng-untouched{
//         border:0px;
//     }
// }